<template>
  <header
    class="bg-white h-[66px] sticky border-b top-0 z-20 shadow-md md:h-[90px]"
  >
    <!-- <div class="md:w-[1330px] md:mx-auto md:relative"> -->
    <Sidebar />
    <span class="sr-only">TOUCHNOODLE｜乾拌麵購物網站｜最強熱銷品牌｜乾拌麵大賞包</span>
    <h1 class="text-center cursor-pointer">
      <img
        class="inline-block mt-[18px] md:w-[198px] md:h-10 md:mt-[25px]"
        src="~/assets/img/header/TOUCH logo.svg"
        alt="TOUCHNOODLE｜乾拌麵購物網站｜最強熱銷品牌｜乾拌麵大賞包"
        title="TOUCHNOODLE｜乾拌麵購物網站｜最強熱銷品牌｜乾拌麵大賞包"
        width="149"
        height="30"
        @click="toLanding"
      />
    </h1>
    <NuxtLink :to="pcUserLoginRoute">
      <div
        class="hidden md:block md:absolute z-20 top-7 right-32 w-32 h-6 font-bold tracking-[2px] cursor-pointer"
      >
        {{ pcUserLogin }}
      </div>
    </NuxtLink>
    <NuxtLink to="/shoppingBag" v-show="showCart">
      <span
        class="absolute top-5 right-5 w-6 h-6 z-10 md:w-[40px] md:top-[26px] md:right-[50px]"
      >
        <span
          class="inline-block absolute bg-yel h-6 w-6 rounded-full text-white font-bold top-1 -left-3 text-[14px] text-center leading-[23px] tracking-normal md:leading-[28px] md:h-7 md:w-7 md-text-14"
          >{{ this.amountOfProduct }}</span
        >
        <img
          src="~/assets/img/header/shopping cart.svg"
          alt="shopping bag"
          class="w-[30px] h-[30px] cursor-pointer md:w-[40px] md:h-[40px]"
          width="30"
          height="30"
        />
      </span>
    </NuxtLink>
    <!-- </div> -->
  </header>
</template>

<script>
import Sidebar from "~/components/Header/Sidebar";

export default {
  watch: {
    $route: {
      handler(to, from) {
        this.showCart =
          to.name == "buyerInfo" || to.name == "last" ? false : true;
      },
      immediate: true,
    },
  },
  data() {
    return {
      showCart: true,
    };
  },
  methods: {
    toLanding() {
      this.$router.push("/");
      if (this.$route.name == "last") {
        this.$store.commit("clearnSelectedProduct");
      }
    },
  },
  computed: {
    amountOfProduct() {
      return this.$store.getters.amountOfProduct;
    },
    isLogin() {
      return this.$store.state.member.isUserLoggedIn;
    },
    pcUserLogin() {
      return this.isLogin ? "會員中心" : "會員登入";
    },
    pcUserLoginRoute() {
      return this.isLogin ? "/member" : "/login"
    }
  },
  components: {
    Sidebar,
  },
};
</script>

<style scoped>
.lh {
  line-height: 160px;
}
</style>