<template>
  <div>
    <!-- hambuger -->
    <img
      src="~/assets/img/hamburger.svg"
      alt=""
      class="absolute top-[23px] left-5 cursor-pointer md:left-[50px] md:w-[37px] md:h-[31px] md:top-[30px]"
      @click="toggleSideBar"
      width="24"
      height="20"
    />
    <!-- sidebar -->
    <nav id="sidebar" v-show="showSideBar" class="bg-warm-gray">
      <div class="w-full h-[66px] border-bottom md:flex md:px-[40px] md:justify-between md:mb-5">
        <img
          src="~/assets/img/header/TOUCH logo.svg"
          alt=""
          width="119"
          height="24"
          class="inline-block ml-5 mt-5 md:mt-10"
        />
        <img
          src="~/assets/img/x.svg"
          alt=""
          class="inline-block ml-[63px] mt-[19px] cursor-pointer md:mt-10 md:ml-auto md:mr-5"
          width="24"
          height="24"
          @click="toggleSideBar"
        />
      </div>
      <div class="md:pl-10">
        <div :class="{ 'border-bottom ': !showProductInfo }" class="mx-[20px]">
          <div
            class="flex justify-between align-center w-full pb-[20px] py-[20px] cursor-pointer md:block"
            @click="toggleProductInfo"
          >
            <span class="text-title font-medium text-[18px] cursor-pointer"
              >商品</span
            ><img
              src="~/assets/img/down.svg"
              alt=""
              class="inline-block md:ml-4 md:mb-1"
              :class="{ rotate: showProductInfo }"
              width="16"
              height="27"
            />
          </div>
          <div
            v-show="showProductInfo"
            class="block w-[266px] relative -left-9 overflow-x-hidden"
          >
            <ul class="bg-warm-gray">
              <div @click="go('/products')">
                <li
                  class="py-[10px] pl-[42px] text-p text-[18px] cursor-pointer md:text-[24px]"
                >
                  總覽
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div
          @click="go('/articles')"
          class="border-bottom block  py-[20px] mx-[20px] cursor-pointer"
        >
          <span class="text-title font-medium text-[18px]">乾拌麵資訊站</span>
        </div>
        <div
          @click="go('/login')"
          class="border-bottom block md:hidden py-[20px] mx-[20px] cursor-pointer"
          v-if="!isLogin"
        >
          <span class="text-title font-medium text-[18px]">會員登入</span>
        </div>
        <div
          @click="go('/member')"
          class="border-bottom block md:hidden py-[20px] mx-[20px] cursor-pointer"
          v-else
        >
          <span class="text-title font-medium text-[18px]">會員專區</span>
        </div>

        <!-- <div
          @click="go('/articles')"
          class="border-bottom block block pb-[20px] mt-[20px] mx-[20px]"
          :class="{ 'product-list-next': showProductInfo }"
        >
          <span class="text-title font-medium text-[18px] cursor-pointer"
            >關於我們</span
          >
        </div>
        <div
          @click="go('/articles')"
          class="border-bottom block block pb-[20px] mt-[20px] mx-[20px]"
          :class="{ 'product-list-next': showProductInfo }"
        >
          <span class="text-title font-medium text-[18px] cursor-pointer"
            >會員中心</span
          >
        </div> -->
      </div>
    </nav>
    <div id="overlay" v-show="showSideBar" @click="toggleSideBar"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showProductInfo: false,
      showSideBar: false,
    };
  },
  computed:{
    isLogin(){
      return this.$store.state.member.isUserLoggedIn
    }
  },
  methods: {
    toggleProductInfo() {
      this.showProductInfo = !this.showProductInfo;
    },
    toggleSideBar() {
      this.showSideBar = !this.showSideBar;
    },
    go(path) {
      this.$router.push(path);
      this.toggleSideBar();
    },
  },
};
</script>

  
<style scoped>
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}
#overlay {
  width: 100%;
  height: 100%;
  background: rgba(85, 85, 85, 0.5);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.border-bottom {
  border-bottom: 0.5px solid rgba(102, 102, 102, 0.5);
}
#slidebar .product-list {
  padding-bottom: 0px;
}
.rotate {
  transform: rotate(180deg);
}
.product-list-next {
  padding-top: 0px;
}
@media (min-width: 768px) {
  /* #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 510px;
    z-index: 100;
  } */
  #sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100%;
  z-index: 2;
}
  .border-bottom{
    border-bottom: 0px;
  }
}
</style>