<template>
  <NuxtLink :to="articleInfo.articleLink">
      <section class="text-center md:mt-[50px] ">
        <div class="bg-warm-gray flex flex-col w-[334px] mx-auto md:w-[450px] shadow rounded">
          <div class="w-[332px] h-[225px] md:w-[445px] md:h-[302px]">
            <img
              :src="articleInfo.primaryImg"
              :alt="articleInfo.articleTitle"
              class="md:mx-auto h-auto mx-auto md:w-[445px] md:h-[302px]"
              width="332"
              height="225"
            />
          </div>

          <div class="text-center">
            <h2
              class="font-medium text-[24px] tracking-[1.92px] mt-[20px] leading-[40px] mx-6"
            >
              {{articleInfo.articleTitle}}
            </h2>
            <p class="mt-[10px] md:mt-5 mb-[30px]">{{articleInfo.articleDate}} | {{articleInfo.articleCategory}}</p>
          </div>
        </div>
      </section>
    </NuxtLink>
</template>

<script>
export default {
  props:{
    articleInfo:{
      type:Object,
      required:true
    }
  }
}
</script>

<style>

</style>