<template>
  <div class="md:w-[800px] md:mx-auto">
      <h2 class="my-[30px] font-bold mx-5 md:text-[18px]">{{content.title}}</h2>
      <div class="w-full mx-auto relative">
        <img :src="content.img" alt="" class="w-full md:w-[500px] md:h-[500px] md:mx-auto">
      </div>
      <p class="my-[30px] mx-5 md:mt-[35px]">
        {{content.description}}
      </p>
    </div>
</template>

<script>
export default {
  props:{
    content:{
      type:Object,
      required:true
    }
  }
}
</script>

<style>

</style>