<template>
  <main>
    <div class="md:w-[860px] md:mx-auto">
      <h1
        class="text-[24px] font-bold color-333333 w-[286px] mx-[25px] mt-[25px] mb-[7px] md:w-full md:text-[36px] md:mt-[35px] md:mb-[24px]"
      >
        {{article.articleTitle}}
      </h1>
      <h2 class="mb-[21px] ml-[25px] md:mb-[30px]">{{article.articleCategory}}｜{{article.articleDate}}</h2>
    </div>

    <div
      class="pl-[20px] pr-[30px] pb-[15px] pt-[25px] w-11/12 md:w-[860px] mx-auto md:p-8 border-2 border-dark rounded"
    >
      <p class="md:w-[760px] md:mx-auto">
        {{article.articleSlogan}}
      </p>
      <h3 class="mt-6 md:w-[760px] md:mx-auto">
        *文末附上
        <NuxtLink :to="article.productLink">
          <span class="font-bold text-primary">{{article.productName}}</span>
        </NuxtLink>
        購買連結
      </h3>
    </div>
    <ArticleContent
      v-for="(item, index) in articleContent"
      :key="index"
      :content="item"
    />

    <h3 class="mt-[30px] mb-[15px] font-bold ml-5 md:w-[860px] md:mx-auto">
      我全部都想吃看看：
    </h3>
    <NuxtLink :to="article.productLink">
      <div
        class="border-2 border-dark rounded py-[15px] px-5 w-11/12 mx-auto md:w-[860px] md:mx-auto"
      >
        <h4 class="font-medium text-[18px] mb-[15px]">{{article.productName}} Go!</h4>
        <p class="text-primary font-medium">
          {{article.productSlogan}}
        </p>
      </div>
    </NuxtLink>
  </main>
</template>

<script>
import ArticleContent from "~/components/Article/ArticleContent";

export default {
  computed: {
    name() {
      return this.$route.params.name;
    },
    article() {
      let filter = this.$store.state.article.articles.filter((item) => {
        return item.articleTitle == this.name;
      });
      return filter[0];
    },
    articleContent() {
      return this.article.articleContent;
    }
  },
  components: {
    ArticleContent,
  },
};
</script>

<style scoped>
.color-333333 {
  color: #333333;
}
</style>