<template>
  <main>
    <div class="md:w-[450px] md:mx-auto">
      <button
        class="bg-primary text-white font-medium mx-auto my-5 rounded ml-5 text-[14px] md-text-20 h-[45px] w-[95px] md:mt-[50px] md:w-[125px] md:h-[55px] md:ml-0"
      >
        全部資訊
      </button>
    </div>

    <ArticlePrimaryInfo
      v-for="(item, index) in articles"
      :key="index"
      :articleInfo="item"
    />
    <!-- <ArticlePrimaryInfo
      
      :articleInfo="articles"
    /> -->
    <!-- {{this.articles}} -->
  </main>
</template>

<script>
import ArticlePrimaryInfo from "~/components/Article/ArticlePrimaryInfo";
export default {
  head() {
    return {
      title:
        "6款不踩雷乾拌麵評比：輕鬆在家享受懶人美食｜乾拌麵資訊站｜TOUCHNOODLE 乾拌麵購物網站",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "編輯團隊親自試吃比較後，精選了6款價錢、口味、CP值都很高分的乾拌麵！無論是麵食主義者；想10分鐘上菜的煮夫/婦；或是熬夜唸書想暖胃的考生，快來試試這些會讓你感到幸福的乾拌麵！",
        },
      ],
    };
  },
  components: {
    ArticlePrimaryInfo,
  },
  computed: {
    articles() {
      return this.$store.state.article.articles;
    },
  },
};
</script>

<style>
</style>