<template>
  <div class="bg-gra border-b px-[15px] pt-[16px] pb-[10px]">
    <div class="font-medium md-text-20">
      訂單編號：#{{ this.order.order.orderID }}
    </div>
    <div class="flex flex-row justify-between my-[15px]">
      <span class="font-medium md-text-20"
        >訂單日期：{{ String(this.order.order.orderID).slice(0, 8) }}</span
      >
      <NuxtLink :to="route">
        <span class="underline font-medium text-title md-text-20"
          >訂單詳情</span
        >
      </NuxtLink>
    </div>
    <div class="font-medium md-text-20">金額：${{ this.order.totalPrice }}</div>
  </div>
</template>

<script>
export default {
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
  computed: {
    route() {
      return `/order/${this.order.order.orderID}`;
    },
  },
};
</script>

<style>
</style>