<template>
  <div
    class="fixed bg-primary text-white -top-2 w-full rounded-lg h-[90px] pt-[20px] z-40 md:h-[140px] md:pt-[50px]"
  >
    <div class="w-full text-center mx-auto ">
      
      <h3 class="text-[18px] font-medium inline-block text-white md:hidden">
        你需要先授權我們存取Email，
      </h3>
      <h3 class="text-[18px] font-medium inline-block text-white md:hidden">
        才能使用Facebook登入
      </h3>
      <h3 class="text-[18px] font-medium inline-block text-white hidden md:block">
        你需要先授權我們存取Email，才能使用Facebook登入
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  
};
</script>

<style>
</style>