<template>
  <section>
    <button
      class="bg-fb w-[335px] h-[45px] md:h-[55px] rounded mx-auto inline-block text-left"
      :class="{ 'w-[278px] md:w-[335px]': buyerInfo }"
      @click="fbLogin"
    >
      <img
        src="~/assets/img/login/facebook.svg"
        alt=""
        class="inline-block ml-[55px] mr-4 mb-[2px]"
        :class="{ 'ml-[28px] md:ml-[55px]': buyerInfo }"
      />
      <span class="text-white md-text-18 font-medium text-[18px]"
        >繼續以Facebook登入</span
      >
    </button>
    <!-- <button @click="deletePermissionBecauseNoEmail(5893605034014921)">刪除授權</button> -->
  </section>
</template>

<script>
//處理 fb 登入， 在前端用 js SDK
//先 init sdk
// (重要) FB自帶cookie
export default {
  props: {
    buyerInfo: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    fbLogin() {
      const vm = this;
      // 檢查登入狀態
      FB.login(
        function (response) {
          console.log("fblogin", response);
          vm.statusChangeCallback(response);
        },
        { scope: "email, public_profile", return_scopes: true }
      );
    },

    setProfileToVuex() {
      let vm = this;
      FB.api("/me?fields=name,id,email", function (response) {
        console.log("setProfileToVuex-response", response);
        vm.$store.commit("member/fbLogin", response);
      });
    },
    showLoginSuccessModal() {
      this.$store.dispatch("member/showSuccessModalForABit");
    },
    detectDeline() {
      let vm = this;
      FB.api("/me/permissions", function (response) {
        var declined = [];
        for (i = 0; i < response.data.length; i++) {
          if (response.data[i].status == "declined") {
            declined.push(response.data[i].permission);
          }
        }
        if (declined.length > 0) {
          console.log("permissions", response);
          vm.deletePermissionBecauseNoEmail();
        } else {
          vm.setProfileToVuex();
          vm.showLoginSuccessModal();
          if (!vm.buyerInfo) {
            vm.$router.push("/products");
          }
        }
      });
    },
    deletePermissionBecauseNoEmail() {
      let vm = this;
      let route = `/me/permissions`;
      FB.api(route, "DELETE", function (response) {
        //最後一個參數傳遞true避免cache
        FB.getLoginStatus(function (res) {
          console.log(res);
        }, true); //強制刷新cache避免login status下次誤判
        vm.toggleFBLoginFailModal();
      });
    },
    statusChangeCallback(response) {
      let vm = this;
      if (response.status === "connected") {
        vm.detectDeline();
      }
    },
    toggleFBLoginFailModal() {
      this.$emit("toggleFBLoginFailModal");
    },
  },
};
</script>

<style scoped>
.bg-fb {
  background-color: #475993;
}
</style>