<template>
  <a href="/auth/">
    <button
      class="border-gray border-[0.5px] w-[335px] h-[45px] md:h-[55px] rounded md-text-18 mb-5 inline-block mx-auto text-left"
      :class="{ 'w-[278px] md:w-[335px] mb-[15px]': buyerInfo }"
    >
      <img
        src="~/assets/img/login/google-symbol.svg"
        alt=""
        class="inline-block ml-[55px] mr-4 mb-[2px]"
        :class="{ 'ml-[28px] md:ml-[55px]': buyerInfo }"
      />
      <span class="font-medium text-title text-[18px] md-text-18"
        >繼續以Google登入</span
      >
    </button>
  </a>
</template>

<script>
import jwtDecode from "jwt-decode";

export default {
  props: {
    buyerInfo: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
    //處理google Login 透過 /auth 和 /auth/google
    //google Login 會回傳 id_token 和 refresh_token
    //透過jwtdecode 解碼 可獲得 userUid,userPicture,和 userName
    if (this.$route.query.id_token) {
      let id_token_Decode = jwtDecode(this.$route.query.id_token);
      console.log(id_token_Decode);
      this.$store.commit("member/googleLogin", {
        userUid: id_token_Decode.name,
        userPicture: id_token_Decode.picture,
        userName: id_token_Decode.name,
        email: id_token_Decode.email,
      });
      this.$store.dispatch("member/showSuccessModalForABit");
      if (this.buyerInfo) {
        window.history.replaceState(null, null, window.location.pathname);
      } else {
        this.$router.push("/products");
      }
    }
    // if (this.$route.query.id_token && this.$route.query.refresh_token) {
    //   let id_token_Decode = jwtDecode(this.$route.query.id_token);

    // }
  },
};
</script>

<style scopd>
.border-gray {
  border-color: #666666;
}
</style>