<template>
  <div
    class="fixed bg-yel text-white -top-2 w-full rounded-lg h-[74px] pt-[28px] z-40 md:h-[98px] md:pt-[30px]"
  >
    <div class="w-[224px] pl-[59px] mx-auto md:w-[224px]">
      <img
        src="~/assets/img/check.svg"
        alt=""
        class="inline-block mb-[3px] mr-[10px]"
      />
      <h3 class="text-[18px] font-medium inline-block text-white">
        登入成功
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  
};
</script>

<style>
</style>