<template>
  <section class="p-[15px] mx-5 md:px-[37px] md:py-5 md:mx-0 bg-gra">
     <div v-if="isLogin">
      <img
        src="~/assets/img/done successfully.svg"
        alt=""
        class="inline-block mb-[5px] mr-[10px]"
      /><span class="text-[18px] font-medium inline-block text-title md-text-20">會員登入與註冊</span>
    </div>
    <h2 class="text-[18px] font-medium text-title md-text-20" v-else>1 會員登入與註冊</h2>
   
    <div class="mt-[15px] mx-[9px] md:mx-[17px]" v-if="isLogin">
      {{ email }}
    </div>
    <div class="mt-[15px] mx-[9px] md:mx-[17px]" v-else>
      <GoogleLogin :buyerInfo="true" />
      <FBlogin
        @toggleFBLoginFailModal="toggleFBLoginFailModal"
        :buyerInfo="true"
      />
    </div>

    <transition name="fade">
      <FBLoginFailModal v-show="showFBLoginFailModal"></FBLoginFailModal>
    </transition>
  </section>
</template>

<script>
import GoogleLogin from "~/components/Login/GoogleLogin";
import FBlogin from "~/components/Login/FBlogin";
import FBLoginFailModal from "~/components/Login/FBLoginFailModal";

export default {
  components: {
    GoogleLogin,
    FBlogin,
    FBLoginFailModal,
  },
  data() {
    return {
      showFBLoginFailModal: false,
    };
  },
  computed: {
    isLogin() {
      return this.$store.state.member.isUserLoggedIn;
    },
    email() {
      return this.$store.state.member.userEmail;
    },
  },
  methods: {
    toggleFBLoginFailModal() {
      if (!this.showFBLoginFailModal) {
        setTimeout(this.closeFBLoginFailModal, 2000);
      }
      this.showFBLoginFailModal = true;
    },
    closeFBLoginFailModal() {
      this.showFBLoginFailModal = false;
      console.log("closeFBLoginFailModal");
    },
  },
};
</script>

<style>
</style>