<template>
  <div>
    <div class="p-[15px] bg-gra mx-[20px] mt-[15px] md:px-[37px] md:py-5 md:mx-0">
      <h2 class="text-[18px] font-medium  text-title md-text-20">4 付款資訊</h2>
      <div v-show="showInfo">
        <h3 class="font-medium mb-[10px] md-text-20 mt-[15px]">付款方式</h3>
        <select
          class="border border-dark rounded w-full h-[63px] pl-[15px] select"
          v-model="selected"
        >
          <!-- <option value="credit">信用卡 (支援Visa, Master, JCB)</option> -->
          <option value="cash">7-11貨到付款</option>
          <option value="bank">銀行匯款</option>
        </select>
        <div v-if="selected == 'bank'">
          <input
            type="text"
            class="border border-dark rounded w-full h-[63px] pl-[15px] mt-[15px]"
            :class="{
              'border-warn': bankAcountWarn,
              'border-2': bankAcountWarn,
            }"
            v-model="bankAcount"
            maxlength="5"
            placeholder="匯款帳號後五碼"
          />

          <p class="mt-[18px] font-medium md-text-20">
            請於三個工作天內匯款至以下帳戶，三天內未完成匯款者將自動取消訂單。
          </p>
          <h5 class="mt-[15px] font-medium md-text-20">匯款資料</h5>
          <h5 class="mt-[7px] font-medium md-text-20">銀行：富邦銀行</h5>
          <h5 class="mt-[7px] font-medium md-text-20">代號：012</h5>
          <h5 class="mt-[7px] font-medium md-text-20">帳號：550168801440</h5>
        </div>
      </div>
    </div>
    <!-- <div v-show="showTappay">
      <Tappay :orderInfo="orderInfo"/>
    </div> -->

    <div class="mx-5" v-show="showInfo">
      <div class="pt-[13px]">
        <input
          type="checkbox"
          name=""
          id="member"
          class="w-5 h-5 mr-[10px]"
          v-model="sendNewInfo"
        />
        <label for="member" class="font-medium relative bottom-1 md-text-18"
          >寄給我最新資訊及優惠方案</label
        >
      </div>
    </div>
    <div class="mx-5" v-show="showCashButton">
      <button
        class="w-full bg-primary text-white text-center rounded h-[45px] text-[18px] font-medium mt-[13px] md:h-[55px]"
        :class="{ 'bg-primary': hasBankAccount }"
        @click="commitOrder"
      >
        提交訂單
      </button>
    </div>
  </div>
</template>

<script>
// import Tappay from "~/components/BuyerInfo/Tappay";
import Input from "~/components/utils/Input";
import { mapGetters } from "vuex";

export default {
  props: {
    showPayment: {
      type: Boolean,
      default: false,
      required: true,
    },
    seven: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      selected: "cash",
      bankAcount: "",
      orderDate: this.$moment().format("YYYY-MM-DD HH:mm"),
      toBeMember: true,
      sendNewInfo: true,
      hasBankAccount: false,
      bankAcountWarn: false,
    };
  },
  methods: {
    commitOrder() {
      this.checkBankAccount();
      if ((this.selected === 'bank' &&this.hasBankAccount === true)|| this.selected === 'cash') {
        this.$store.commit("createOrder", this.orderInfo);
        this.sendOrderToFirebase();
      this.updateMemberToFirebase();
        this.$router.push("./last");
      }
    },
    checkBankAccount() {
      if (this.bankAcount.length !== 5) {
        this.bankAcountWarn = true;
        return false;
      } else {
        this.bankAcountWarn = false;
        this.hasBankAccount = true;
        return true;
      }
    },
    sendOrderToFirebase() {
      console.log('order')
      this.$axios({
        method: "put",
        url: `${process.env.firebase_url}/order/${this.orderID}.json?key=${process.env.firebase_key}`,
        data: {
          selectedProduct: this.selectedProduct,
          card: this.card,
          sender: this.sender,
          receiver: this.receiver,
          order: this.orderInfo,
          totalPrice: this.totalPrice,
          member:this.member.userUid
        },
      })
    },
    updateMemberToFirebase() {
      this.$axios({
        method: "patch",
        url: `${process.env.firebase_url}/member/${this.member.userUid}.json?key=${process.env.firebase_key}`,
        data: {
          member:this.member,
        },
      }).catch(err => console.log(err))
      console.log('1')
      this.$axios({
          method: 'post',
          url: `${process.env.firebase_url}/member/${this.member.userUid}/order.json?key=${process.env.firebase_key}`,
          data: {
            orderID:this.orderID
          }
        }).then(()=>console.log('2success')).catch(err=>console.log(err))
    }
  },
  computed: {
    showInfo() {
      return this.showPayment;
    },
    showTappay() {
      return this.showInfo && this.selected == "credit";
    },
    showCashButton() {
      return (
        this.showInfo && (this.selected == "bank" || this.selected == "cash")
      );
    },
    orderTotalLength() {
      return this.$store.state.orderTotalLength;
    },
    orderID() {
      let rightNow = this.$moment().format("YYYYMMDD");
      const code = String(this.orderTotalLength + 1).padStart(5, "0");
      return rightNow + code;
    },
    orderInfo() {
      return {
        orderID: this.orderID,
        orderDate: this.orderDate,
        orderStatus: "處理中",
        paymentStatus: this.selected,
        bankAcount: this.bankAcount,
        toBeMember: this.toBeMember,
        sendNewInfo: this.sendNewInfo,
        seven: this.seven,
        totalProductPrice: this.totalProductPrice,
        shippingFee: this.shippingFee,
      };
    },
    ...mapGetters(["totalProductPrice", "totalPrice", "shippingFee"]),
    selectedProduct() {
      return this.$store.state.LS.selectedProduct;
    },
    sender() {
      return this.$store.state.LS.sender;
    },
    receiver() {
      return this.$store.state.LS.receiver;
    },
    member() {
      return this.$store.state.member
    }
  },
  components: {
    Input,
  },
};
</script>

<style scoped>
.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("~/assets/img/down.svg") no-repeat white;
  background-position: right 10px top 27px;
}
</style>