<template>
  <div class="p-[15px] bg-gra mx-[20px] mt-[15px] md:px-[37px] md:py-5 md:mx-0">
    <div v-show="showInfo == 1">
      <h2 class="text-[18px] font-medium mb-[15px] text-title md-text-20">3 收件資訊</h2>
      <input
        type="checkbox"
        v-model="sameInfo"
        id="sameInfo"
        class="w-5 h-5"
        @change="becomeSameInfo"
      />
      <label for="sameInfo" class="ml-[10px] font-medium relative bottom-1 z-0 md-text-20"
        >收件人資訊和訂購人資訊相同</label
      >
      <Input
        label="收件人姓名"
        type="Receiver"
        property="receiverName"
        :receiver="receiverName"
        :warn="nameWarn"
      />
      <Input
        label="收件人電話號碼"
        type="Receiver"
        property="receiverPhone"
        :receiver="receiverPhone"
        :warn="phoneWarn"
      />
      <h3 class="font-medium md-text-20">送貨方式：7-11</h3>
      <!-- <TwCitySelector :countyWarn="countyWarn" :districtWarn="districtWarn" />

      <Input
        label="地址"
        type="Receiver"
        property="receiverAddress"
        :warn="addressWarn"
      /> -->
      <!-- 地圖 -->
      <div style="text-align: center">
        <form
          id="ECPayForm"
          method="POST"
          action="https://logistics.ecpay.com.tw/Express/map"
          target="_self"
        >
          <input type="hidden" name="MerchantID" value="3279844" />
          <input type="hidden" name="MerchantTradeNo" value="" />
          <input type="hidden" name="LogisticsSubType" value="UNIMARTC2C" />
          <input type="hidden" name="IsCollection" value="N" />
          <input
            type="hidden"
            name="ServerReplyURL"
            :value="sevenReturnUrl"
          />
          <input type="hidden" name="ExtraData" value="測試額外資訊" />
          <input type="hidden" name="Device" value="0" />
          <input type="hidden" name="LogisticsType" value="CVS" />
          <input type="submit" id="__paymentButton" :value="sevenButton" class="w-full border border-primary text-primary text-center rounded h-[45px] md:h-[55px] text-[18px] font-medium mb-4 mt-2 bg-white cursor-pointer" :disabled="hasSeven"/>
        </form>
      </div>
      <button
        class="w-full text-white text-center rounded h-[45px] text-[18px] font-medium md:h-[55px]"
        :class="{'bg-primary':hasSeven,'bg-disable ':!hasSeven}"
        :disabled="!hasSeven"
        @click="hideInfo"
      >
        前往付款
      </button>
    </div>
    <div v-show="showInfo == 0">
      <span class="text-[18px] font-medium inline-block text-title md-text-20">3 收件資訊</span>
    </div>
    <div v-show="showInfo == 2">
      <div class="flex justify-between">
        <div>
          <img
            src="~/assets/img/done successfully.svg"
            alt=""
            class="inline-block mb-[5px] mr-[10px]"
            width="18"
            height="18"
          /><span class="text-[18px] font-medium inline-block text-title md-text-20">收件資訊</span>
        </div>
        <span
          class="text-primary font-bold border-b border-primary mt-[2px]"
          @click="openInfo"
          >編輯</span
        >
      </div>
    </div>
  </div>
</template>

<script>
import Input from "~/components/utils/Input";
import TwCitySelector from "~/components/BuyerInfo/TwCitySelector";
import { mapGetters } from "vuex";

export default {
  props: {
    showReceive: {
      type: Number,
      required: true,
      default: 0,
    },
    seven:{
      type:String,
      default:''
    }
  },
  data() {
    return {
      sameInfo: false,
      nameWarn: false,
      phoneWarn: false,
      addressWarn: false,
      countyWarn: false,
      districtWarn: false,
    };
  },
  computed: {
    showInfo: {
      get() {
        return this.showReceive;
      },
      set(val) {
        this.$emit("update:showReceive", val);
      },
    },
    receiverName() {
      return this.$store.state.LS.receiver.receiverName
    },
    receiverPhone() {
      return this.$store.state.LS.receiver.receiverPhone
    },
    hasSeven() {
      return (this.seven == '') ? false :true
    },
    sevenButton() {
      return (this.hasSeven) ? `已選擇${this.seven}` : '選擇取件門市' 
    },
    sevenReturnUrl() {
      return process.env.web_url + '/api/ReceiverServerReply';
    }
    // ...mapGetters(["receiverCounty", "receiverDistrict"]),
  },
  methods: {
    hideInfo() {
      let {
        receiverName,
        receiverPhone,
      } = this.$store.state.LS.receiver;
      // if (!receiverCounty) {
      //   this.countyWarn = true;
      // } else {
      //   this.countyWarn = false;
      // }
      // if (!receiverDistrict) {
      //   this.districtWarn = true;
      // } else {
      //   this.districtWarn = false;
      // }
      if (!receiverName) {
        this.nameWarn = true;
      } else {
        this.nameWarn = false;
      }
      // if (!receiverAddress) {
      //   this.addressWarn = true;
      // } else {
      //   this.addressWarn = false;
      // }
      if (!receiverPhone) {
        this.phoneWarn = true;
      } else {
        this.phoneWarn = false;
      }
      if (receiverName && receiverPhone) {
        this.showInfo = 2;
        this.$emit("openPayment");
      }
    },
    openInfo() {
      this.showInfo = 1;
    },
    becomeSameInfo() {
      let sameInfo = this.sameInfo;
      sameInfo = !sameInfo;
      if (!sameInfo) {
        this.$store.commit("sameInfo");
        // this.receiverName = this.$store.state.LS.receiver.receiverName;
        // this.receiverPhone = this.$store.state.LS.receiver.receiverPhone;
      } else {
        this.$store.commit("clearReceiverInfo");
        // this.receiverName = "";
        // this.receiverPhone = "";
      }
    },
  },
  components: {
    Input,
    TwCitySelector,
  },
};
</script>

<style scoped>
.bg-disable{
  background-color: #dddddd;
}
</style>