<template>
  <div class="p-[15px] mx-5 bg-gra mt-[15px] md:px-[37px] md:py-5 md:mx-0">
    <div v-if="showInfo && !member.isUserLoggedIn" class="text-[18px] font-medium text-title md-text-20">2 訂購人資訊</div>
    <div v-if="showInfo && member.isUserLoggedIn">
      <h2 class="text-[18px] font-medium text-title md-text-20">2 訂購人資訊</h2>
      <Input
        label="訂購人姓名"
        type="Sender"
        property="senderName"
        :warn="nameWarn"
        :receiver="senderNameInput"
      />
      <Input
        label="訂購人電子信箱"
        type="Sender"
        property="senderEmail"
        :warn="emailWarn"
        :receiver="senderEmailInput"
      />
      <Input
        label="訂購人電話號碼"
        type="Sender"
        property="senderPhone"
        :warn="phoneWarn"
        :receiver="senderPhone"
      />
      <button
        class="w-full bg-primary text-white text-center rounded h-[45px] text-[18px] font-medium"
        @click="hideInfo"
      >
        填寫收件資訊
      </button>
    </div>
    <div v-if="!showInfo">
      <div class="flex justify-between">
        <div>
          <img
            src="~/assets/img/done successfully.svg"
            alt=""
            class="inline-block mb-[5px] mr-[10px]"
          /><span class="text-[18px] font-medium inline-block text-title md-text-20"
            >訂購人資訊</span
          >
        </div>

        <div
          class="text-primary font-bold border-b border-primary mt-[2px] md-text-18"
          @click="openInfo"
        >
          編輯
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Input from "~/components/utils/Input";

export default {
  props: ["seven"],
  computed: {
    // sender() {
    //   return this.$store.state.LS.sender
    // },
    senderNameInput(){
      return this.senderName || this.member.userName
    },
    senderEmailInput(){
      return this.senderEmail || this.member.userEmail 
    },
    senderName() {
      return this.$store.state.LS.sender.senderName;
    },
    senderPhone() {
      return this.$store.state.LS.sender.senderPhone;
    },
    senderEmail() {
      return this.$store.state.LS.sender.senderEmail;
    },
    member() {
      return this.$store.state.member;
    },
  },
  data() {
    return {
      showInfo: true,
      nameWarn: false,
      emailWarn: false,
      phoneWarn: false,
    };
  },
  watch: {
    seven: {
      handler(newVal, oldVal) {
        if (newVal != "") {
          this.showInfo = false;
        }
      },
      immediate: true,
    },
  },
  methods: {
    hideInfo() {
      let {
        senderName,
        senderEmail,
        senderPhone,
      } = this.$store.state.LS.sender;
      if (!senderName) {
        this.nameWarn = true;
      } else {
        this.nameWarn = false;
      }
      if (!senderEmail) {
        this.emailWarn = true;
      } else {
        this.emailWarn = false;
      }
      if (!senderPhone) {
        this.phoneWarn = true;
      } else {
        this.phoneWarn = false;
      }
      if (senderName && senderEmail && senderPhone) {
        this.showInfo = false;
        this.$emit("openReceive");
      }
    },
    openInfo() {
      this.showInfo = true;
    },
  },
  components: {
    Input,
  },
};
</script>

<style>
</style>