<template>
  <div class="city-selector-set">
    <div>
      <!-- 縣市選單 -->
      <select
        class="county rounded border border-dark inline-block px-[15px]"
        :class= "{'border-warn':countyWarn, 'border-2':countyWarn}"
        v-model="county"
        @change="addReceiverCounty"
      ></select>
    </div>
    <div>
      <!-- 區域選單 -->
      <select
        class="district rounded border border-dark bg-white inline-block px-[15px]"
        :class= "{'border-warn':districtWarn, 'border-2':districtWarn}"
        v-model="district"
        @change="addReceiverDestrict"
      ></select>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    new TwCitySelector({
      el: ".city-selector-set",
      elCounty: ".county",
      elDistrict: ".district",
      except: ["澎湖縣", "金門縣", "連江縣"],
    });
  },
  props: ["countyWarn","districtWarn"],
  data(){
    return {
      county:'',
      district:''
    }
  },
  methods: {
    addReceiverCounty() {
      let property = "receiverCounty";
      let payload = {
        property,
        content:this.county,
      };
      this.$store.commit("addReceiverContent", payload);
    },
    addReceiverDestrict() {
      let property = "receiverDistrict";
      let payload = {
        property,
        content:this.district,
      };
      this.$store.commit("addReceiverContent", payload);
    },
  },
};
</script>

<style scoped>
.city-selector-set {
  display: flex;
}
.county {
  height: 63px;
  width: 140px;
  margin-right: 25px;
  /*移除箭頭樣式*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background: url("~/assets/img/down.svg") no-repeat 110px 27px white;
}
.district {
  height: 63px;
  width: 140px;
  /*移除箭頭樣式*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background: url("~/assets/img/down.svg") no-repeat 110px 27px white;
}

</style>