<template>
  <div
    class="bg-gra w-[145px] flex flex-col flex-shrink-0 justify-between align-center md:pb-6 pb-3"
  >
    <div class="relative">
      <div class="w-[120px] h-[145px] relative my-auto mx-auto">
        <img
          :src="this.product.img"
          alt=""
          class="md:w-lg image"
        />
      </div>
      <img
        src="~/assets/img/加.svg"
        alt="購入"
        class="cursor-pointer mx-auto mt-[15px] absolute right-1 top-20"
        @click="addToCart"
      />
      <h5 class="font-bold text-p ml-[15px] mt-[10px] leading-[26px] md:leading-[30px] md:font-normal md-text-20">
        ${{ product.productPrice }}
      </h5>
      <h3 class="flex-shrink text-p ml-[15px] mr-[15px] leading-[24px] md:leading-[30px] md:tracking-[1.1px] md:text-[18px]">
        {{ product.productName }}
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product"],
  methods: {
    addToCart() {
      let payload = {
        img: this.product.img,
        productName: this.product.productName,
        productPrice: this.product.productPrice,
        productQuantity: 1,
      };
      if (this.$route.name === "shoppingBag") {
        this.$store.commit("addToCart", payload);
      } else {
        this.$emit("addToCart", payload);
      }
    },
  },
};
</script>

<style>
</style>