<template>
  <div class="ml-5">
    <h3 class="my-[15px] text-[18px] font-medium text-title">優惠加購商品</h3>
    <div class="flex overflow-x-scroll space-x-5">
      <RecommendationProduct
        v-for="(item, index) in recommendationProducts"
        :key="index"
        :product="item"
        @addToCart="addToCart"
      />
    </div>
  </div>
</template>

<script>
import RecommendationProduct from "./RecommendationProduct";
export default {
  computed: {
    recommendationProducts() {
      return this.$store.state.recommendedProduct;
    },
  },
  methods:{
    addToCart(payload) {
      this.$emit("addToCart", payload);
    }
  },
  components: {
    RecommendationProduct,
  },
};
</script>

<style>
</style>