<template>
  <div class="mt-[15px]">
    <form class="p-[15px] bg-gra mx-[20px] z-0">
      <input
        type="checkbox"
        :checked="card.showCard"
        id="showCard"
        class="w-5 h-5 border"
        @change="showCardOrNot"
      />
      <label for="showCard" class="ml-[15px] font-medium relative bottom-1 z-0"
        >新增送禮卡片內容-免費</label
      >
      <div v-show="card.showCard">
        <Input label="訂給" type="Card" property="to" :receiver="card.to" />
        <Input label="來自" type="Card" property="from" :receiver="card.from" />
        <Textarea
          label="想說的話"
          type="Card"
          property="msg"
          :receiver="card.msg"
        ></Textarea>
      </div>
    </form>
  </div>
</template>

<script>
import Input from "~/components/utils/Input";
import Textarea from "~/components/utils/Textarea";

export default {
  data() {
    return {
      show: false,
    };
  },
  components: {
    Input,
    Textarea,
  },
  methods: {
    showCardOrNot() {
      this.show = !this.show;
      this.$emit("showCard", this.show);
    },
  },
  computed: {
    card() {
      return this.$store.state.card;
    },
  },
};
</script>

<style scoped>
</style>