<template>
  <ul class="bg-gra mx-[20px]">
    <li
      v-for="(items, index) in selectedProduct"
      :key="index"
      class="p-[15px] border-b border-dark"
    >
      <div class="flex">
        <div class="w-100 flex-shrink-0">
          <div class="w-[100px] h-[100px] relative">
            <img :src="items.img" class="image"  />
          </div>
          
        </div>
        <div class="mx-[15px] font-medium flex flex-col justify-between">
          <!-- Rent -->
          <h4 class="relative go-up md-text-20">
            {{ items.productName }}
          </h4>
          <div v-if="items.rent" >
            <div
              class="border border-dark rounded bg-gra text-left w-[133px] h-[45px] text-[14px] pl-[10px] leading-[42px] edit z-0"
              @click="toggleCalendar(index)"
              @blur="toggleCalendar(index)"
            >
              {{ items.start | moment("MM-DD") }}-{{
                items.end | moment("MM-DD")
              }}
              <v-date-picker
              :attributes="attrs"
              color="green"
              v-show="showCalendarIndex(index)"
              :min-date="minStart"
              v-model="start"
              @input="changeDate(index)"
              class="relative right-20 z-10"
              is-expanded
            />
            </div>
            
          </div>
          <!-- 數量 -->
          <div
            class="border border-dark-100 rounded text-center w-[100px] h-[45px] flex justify-around leading-[42px]"
            v-else
          >
            <span
              class="flex align-center ml-[13px] cursor-pointer"
              @click="reduceAmount(index)"
            >
              <img src="~/assets/img/deduct.svg" alt="" />
            </span>
            <input
              type="number"
              :value="items.productQuantity"
              class="text-center w-1/3 bg-gra up"
            />
            <span
              class="flex align-center mr-[13px] cursor-pointer"
              @click="plusAmount(index)"
            >
              <img src="~/assets/img/add.svg" alt="" />
            </span>
          </div>
        </div>
        <div class="text-right flex-grow">
          <img
            src="~/assets/img/x.svg"
            alt="delete"
            class="block ml-auto w-[15px] mt-[5px] cursor-pointer"
            @click="deleteProduct(index)"
          />
          <span class="inline-block mt-[44px] font-medium leading-[24px] md-text-20"
            >${{ (items.productPrice * items.productQuantity).toLocaleString() }}</span
          >
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    selectedProduct: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      start: this.$moment(new Date()).add(2, "days").format("YYYY/MM/DD"),
      minStart: this.$moment(new Date()).add(2, "days").format("YYYY/MM/DD"),
      showCalendar: false,
      duration: "3 天",
      index: 0,
    };
  },
  computed: {
    attrs: {
      get() {
        let days = this.duration == "3 天" ? 3 : 6;
        return [
          {
            highlight: "green",
            dates: {
              start: this.start,
              span: days,
            },
          },
        ];
      },
      set(val) {},
    },
  },
  methods: {
    reduceAmount(index) {
      if (this.selectedProduct[index].productQuantity > 1) {
        this.$store.commit("reduceProductQuantity", index);
      }
    },
    plusAmount(index) {
      this.$store.commit("addProductQuantity", index);
    },
    deleteProduct(index) {
      this.$store.commit("deleteProduct", index);
    },
    toggleCalendar(index) {
      this.index = index;
      this.showCalendar = !this.showCalendar;
    },
    changeDate(index) {
      if(this.start == null) {this.start = this.$moment(new Date()).add(2, "days").format("YYYY/MM/DD")}
      let duration = this.selectedProduct[index].duration;
      this.duration = duration;
      let days = duration == "3 天" ? 2 : 5;
      let end = this.$moment(this.start).add(days, "days").format("YYYY/MM/DD");
      let start = this.$moment(this.start).format("YYYY/MM/DD")
      let payload = {
        index,
        start,
        end,
      };
      this.$store.commit("changeDate", payload);
    },
    showCalendarIndex(index) {
      if (this.showCalendar && this.index == index) return true;
    },
  },
};
</script>

<style scoped>
.border-dark-100 {
  border-color: #555555;
}

.up {
  margin-bottom: 3px;
}

.edit {
  letter-spacing: 0.88px;
  background: url("~/assets/img/edit.svg") no-repeat;
  background-position: right 7px top 13px;
}
.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("~/assets/img/down.svg") no-repeat white;
  background-position: right 10px top 18px;
}

.go-up{
  top:-5px;
}

.image{
  max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>