<template>
  <NuxtLink :to="{path:'/products', hash:`#${category.name}`  }">
    <div
      class="w-[115px] h-[55px] flex bg-gra rounded align-center md:w-[217px] md:h-[90px]"
    >
      <div>
        <h4 class="text-[14px] ml-[5px] mt-4 md-text-20 md:mt-[28px] md:ml-[18px]">
          {{ category.name }}
        </h4>
      </div>

      <div class="w-[35px] h-[35px] relative ml-auto my-auto md:w-[45px] md:h-[80px] md:mr-4">
        <img :src="category.img" alt="" class="image" />
      </div>
    </div>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    category: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style>
</style>