<template>
  <div class="tracking-[1.14px]">
    <div class="h-[50px]"></div>
    <footer class="block md:hidden">
      <div
        class="grid grid-cols-2 gap-x-[70px] gap-y-3 pl-9 pr-9 bg-warm-gray pt-7"
      >
        <NuxtLink to="/">
          <div class="text-title font-medium">首頁</div></NuxtLink
        >
        <div class="text-title font-medium">乾拌麵資訊站</div>
        <NuxtLink to="/products">
          <div class="text-title font-medium">商品</div></NuxtLink
        >
        <NuxtLink to="/articles"> <div>最新文章</div></NuxtLink>
        <div>
          <a href="https://www.instagram.com/touchnoodletw/"
            ><img
              src="~/assets/img/instagram.svg"
              alt="touchnoodletw"
              class="inline-block mr-[9px]"
              width="30"
              height="30"
          /></a>
          <a href="https://www.facebook.com/TOUCH-Noodle%E4%B9%BE%E6%8B%8C%E9%BA%B5%E9%9B%86%E6%95%A3%E5%9C%B0-101018092271783">
            <img
              src="~/assets/img/facebook.svg"
              alt="touchnoodletw"
              class="inline"
              width="20"
              height="37"
            />
          </a>
        </div>
        <div>編輯推薦</div>
        <NuxtLink to="/about">
          <div class="text-title font-medium">關於我們</div></NuxtLink
        >
        <!-- <div class="text-title font-medium">Q&A</div>
        <div class="text-title font-medium">關於我們</div> -->

        
      </div>
      <div class="bg-warm-gray pt-[45px] h-[168px] font-medium text-center">
        <div class="md:w-[400px] md:mx-auto">
          <div>
            <h4 class="leading-[26px] mb-[8px]">
              聯絡我們：touchnoodletw@gmail.com
            </h4>
            <h4 class="my-[10px]">
              <NuxtLink to="/law"
                ><span class="inline-block mr-4"
                  >隱私政策
                  </span
                ></NuxtLink
              >
              <NuxtLink to="/law"
                ><span class="inline-block mr-4"
                  >網站條款
                  </span
                ></NuxtLink
              >
              <NuxtLink to="/sitemap"><span>網站地圖</span></NuxtLink>
            </h4>
            <h4 class="leading-[26px]">© 2021 TOUCHNOODLE All Rights Reserved.</h4>
          </div>
        </div>
      </div>
    </footer>
    <FooterPC class="hidden md:block"/>
  </div>
</template>

<script>
import FooterPC from "~/components/Footer/FooterPC";

export default {
  components: {
    FooterPC,
  },
};
</script>

<style>
</style>