<template>
  <div class="mx-5 mt-[14px] mb-[15px] bg-gra md:mx-0">
    <!-- 下拉 -->
    <div class="flex justify-between align-center p-[15px] md:px-[37px] md:py-5 ">
      <span class="font-medium text-[18px] md-text-20">
        合計 NT${{ totalPrice.toLocaleString() }} </span
      ><img
        src="~/assets/img/down.svg"
        alt=""
        class="inline-block"
        :class="{ rotate: showProductInfo }"
        @click="toggleProductInfo"
        width="16"
        height="27"
      />
    </div>
    <div v-show="showProductInfo">
      <!-- 產品區 -->
      <ul>
        <li
          v-for="(items, index) in selectedProduct"
          :key="index"
          class="p-[15px] border-b border-dark md:p-5"
        >
          <div class="flex">
            <div class="w-25 flex-shrink-0">
              <div class="w-[100px] h-[100px] relative">
                <img :src="items.img" class="image" />
              </div>
            </div>
            <div
              class="mx-[15px] font-medium flex flex-col justify-between "
            >
              <h4>{{ items.productName }}</h4>
              <!-- rent -->
              <div
                class="bg-gra text-left w-[133px] h-[45px] text-[14px] pl-[10px] leading-[42px] z-0"
                v-if="items.rent"
              >
                {{ items.start | moment("MM-DD") }}-{{
                  items.end | moment("MM-DD")
                }}
              </div>
              <!-- 數量 -->
              <div class="w-[80px] h-[45px] leading-[42px] flex md:w-[120px]" v-else>
                <span class="w-1/2">數量</span>
                <span class="text-right w-1/2">{{
                  items.productQuantity
                }}</span>
              </div>
            </div>
            <div class="text-right flex-grow">
              <span class="inline-block mt-[63px] font-medium leading-[24px] md-text-20"
                >${{
                  (items.productPrice * items.productQuantity).toLocaleString()
                }}</span
              >
            </div>
          </div>
        </li>
      </ul>
      <!-- 費用 -->
      <div
        class="flex justify-between p-[15px] border-b border-dark md:p-5 "
      >
        <div class="flex flex-col space-y-4">
          <div class="md-text-20">小費</div>
          <div class="md-text-20">運費</div>
          <div class="font-medium text-title md-text-20">合計</div>
        </div>
        <div class="flex flex-col justify-around text-right">
          <div>${{ totalProductPrice.toLocaleString() }}</div>
          <div>${{shippingFee}}</div>
          <div class="font-medium text-title md-text-20">${{ totalPrice.toLocaleString() }}</div>
        </div>
      </div>
      <!-- card -->
      <!-- <div class="p-[15px]">
        <div class="pt-[1px]">
          <input
            type="checkbox"
            id="showCard"
            class="w-5 h-5"
            disabled
            :checked="card.showCard"
          />
          <label
            for="showCard"
            class="ml-[15px] font-medium relative bottom-1 z-0"
            >新增送禮卡片內容-免費</label
          >
        </div>
        <div v-if="card.showCard">
          <h4 class="my-[15px]">訂給：{{ card.to }}</h4>
          <h4 class="my-[15px]">來自：{{ card.from }}</h4>
          <p class="my-[15px]">想說的話：{{ card.msg }}</p>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showProductInfo: false,
    };
  },
  methods: {
    toggleProductInfo() {
      this.showProductInfo = !this.showProductInfo;
    },
  },
  computed: {
    selectedProduct() {
      return this.$store.state.LS.selectedProduct;
    },
    card() {
      return this.$store.state.card;
    },
    totalPrice() {
      return this.$store.getters.totalPrice;
    },
    totalProductPrice() {
      return this.$store.getters.totalProductPrice;
    },
    shippingFee() {
      return this.$store.getters.shippingFee;
    },
  },
};
</script>

<style scoped>
.rotate {
  transform: rotate(180deg);
}
.black {
  color: #050505;
}
.edit {
  letter-spacing: 0.88px;
  background: url("~/assets/img/edit.svg") no-repeat;
  background-position: right 7px top 13px;
}
.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
</style>