.image{
  max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
* {
  letter-spacing: 1px;
}
input,
textarea,
button,
select,
a,.cursor-pointer {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
span,h1,h2,h3,h4,h5,p,div,li,ul{
  color:#666666;
}
input[type='text'] {
  -webkit-appearance: none;
}
button:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
*:focus {
  outline: none;
}
.btn {
  width: 163px;
  height: 45px;
  border-radius: 3px;
  background-color: #D06C4C;
  color: white;
}
.btn-secondary {
  width: 163px;
  height: 45px;
  border-radius: 3px;
  color: #D06C4C;
  border: #D06C4C 1px solid;
}
.fade-enter-active, .fade-leave-active {
  transition: all .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-10px);
}

@media(min-width:768px){
  span,h1,h2,h3,h4,h5,p,div,li,ul{
    font-size: 20px;
    letter-spacing: 1.25px;
  }
  .font-medium{
    font-size:24px;
    letter-spacing: 1.33px;
    line-height: 40px;
  }
  .font-bold{
    font-size:24px;
    
  }
  .md-text-36{
    font-size: 36px;
    line-height: 55px;
  }
  .md-text-36-about{
    font-size: 36px;
    line-height: 75px;
  }
  .md-text-14{
    font-size:14px;
  }
  .md-text-18{
    font-size:18px;
  }
  .md-text-20{
    font-size: 20px;
    line-height: 30px;
  }
  .md-text-180{
    font-size: 180px;
    line-height: 250px;
    letter-spacing: 20px;
  }
  .md-text-48{
    font-size: 48px;
    line-height: 80px;
    letter-spacing: 4px;
  }
  .md-text-28{
    font-size:28px;
    line-height: 55px;
  }
  .light{
    font-weight: 300;
  }
}