<template>
  <main>
    <div class="w-[full] mx-auto mt-4">
      <div class="md:w-[1024px] md:mx-auto">
        <div class="mx-5">
          <h1
            class="font-medium text-[18px] tracking-[0.75px] mt-5 mb-[15px] md:hidden text-title"
          >
            {{ product.productName }} |
            <span class="line-through inline-block mr-[2px]" v-if="this.product.originProductPrice"
              >${{ product.originProductPrice }}
            </span>
            <span :class="{'text-primary':this.product.originProductPrice}"> ${{ product.productPrice }}</span>
            <!-- <span class="text-right border rounded" @click="share"
              >點我分享</span
            > -->
          </h1>
          <!-- <Stars class="md:hidden" /> -->
        </div>
        <div class="md:grid md:mt-8 md:grid-cols-2 md:gap-[100px]">
          <Swiper :imgs="product.imgs"></Swiper>
          <ProductDetail
            @addToCart="addToCart"
            :product="product"
          ></ProductDetail>
        </div>
      </div>
      <div class="bg-gra mt-[50px] p-5">
        <div
          class="md:w-lg md:mx-auto md:grid md:grid-cols-2 md:pl-[50px] md:gap-[100px]"
        >
          <div>
            <div>
              <h3 class="text-title text-[18px] font-medium mb-[10px]">
                特別之處
              </h3>
              <ul>
                <li
                  class="my-[10px] md:text-[24px] text-p leading-[30px] whitespace-pre-line md:leading-[40px]"
                >{{ product.slogan }}
                </li>
              </ul>
            </div>
            <div class="">
              <h3
                class="text-title text-[18px] font-medium mt-5"
                v-if="product.description"
              >
                裡面有什麼?
              </h3>
              <ul class="mt-[10px]">
                <li
                  v-for="(item, index) in product.description"
                  :key="index"
                  class="md:text-[24px] text-p leading-[30px] md:leading-[40px]"
                >
                  {{ item }}
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h3
              class="text-title text-[18px] font-medium mb-[10px] mt-5 md:mt-0"
              v-if="product.articles.length > 0"
            >
              相關文章
            </h3>
            <ul>
              <li
                class="my-[10px] font-medium leading-[30px]"
                v-for="(item, index) in product.articles"
                :key="index"
              >
                <NuxtLink :to="item.link">{{ item.title }}</NuxtLink>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="md:w-[1024px] md:mx-auto">
        <h3 class="font-medium text-[18px] text-title my-5 ml-5">
          你可能也喜歡
        </h3>
        <div class="flex overflow-x-scroll space-x-5 ml-5">
          <RecommendationProduct
            v-for="(item, index) in recommendedProduct"
            :key="index"
            :product="item"
            @addToCart="addToCart"
          />
        </div>
      </div>
      <div v-if="product.ingredient.length > 0" class="md:w-lg md:mx-auto">
        <h4 class="font-medium text-[18px] mx-5 mt-5 mb-4">商品資訊</h4>
        <p class="whitespace-pre-line mx-5 leading-[30px] md:leading-[36px]">
          {{ product.ingredient }}
        </p>
      </div>
      <div class="px-5 w-full md:w-[400px] mx-auto">
        <NuxtLink to="/products">
        <button
          class="w-full h-[50px] border-primary text-primary border-2 rounded mt-[15px] text-[18px] font-medium cursor-pointer md:mt-[30px] md:h-[55px] md:mx-auto"
        >
          繼續購物
        </button>
        </NuxtLink>
      </div>
    </div>
    <transition name="fade">
      <FinishModal
        v-show="showFinishModal"
        @toggleFinishModal="toggleFinishModal"
      ></FinishModal>
    </transition>
  </main>
</template>

<script>
import ProductDetail from "~/components/Product/ProductDetail";
import Swiper from "~/components/Product/Swiper.vue";
import FinishModal from "~/components/Landing/FinishModal";
import Stars from "~/components/Product/Stars";
import RecommendationProduct from "~/components/ShoppingBag/RecommendationProduct";

export default {
  head() {
    return {
      title: this.product.metaTitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.product.metaDescription,
        },
      ],
    };
  },
  data() {
    return {
      showFinishModal: false,
    };
  },
  computed: {
    name() {
      return this.$route.params.name;
    },
    product() {
      let filter = this.$store.state.product.filter((item) => {
        return item.productName == this.name;
      });
      return filter[0];
    },
    recommendedProduct() {
      return this.$store.state.recommendedProduct;
    },
  },
  methods: {
    toggleFinishModal() {
      if (!this.showFinishModal) {
        setTimeout(this.closeFinishModal, 2000);
      }
      this.showFinishModal = true;
    },
    closeFinishModal() {
      this.showFinishModal = false;
    },
    addToCart(selectedProduct) {
      this.$store.commit("addToCart", selectedProduct);
      this.toggleFinishModal();
    },
    share() {
      if (navigator.share) {
        navigator
          .share({
            title: "Touch 乾拌麵",
            text: "Touch 乾拌麵 享$500免運",
            url: "https://touchnoodle.com",
          })
          .then(() => console.log("Successful share"))
          .catch((error) => console.log("Error sharing", error));
      }
    },
  },
  components: {
    ProductDetail,
    Swiper,
    FinishModal,
    Stars,
    RecommendationProduct,
  },
};
</script>

<style scoped>
</style>