<template>
  <main >
    <!-- <div class="overflow-x-scroll grid grid-flow-col grid-rows-2 gap-4 ml-[18px] mt-[15px] md:grid-rows-1 md:mt-[50px]">
      <Catogory v-for="(item, index) in category" :key="index" :category="item" />
    </div> -->
    <h2 class="my-[30px] font-medium text-[24px] pl-[20px] text-title md:text-center md-text-36 md:my-[45px]" id="拌麵大賞包">拌麵大賞包</h2>
    <div class="grid grid-cols-2 mx-[25px] gap-4 md:grid-cols-2 md:mx-auto md:gap-[50px] md:w-[800px] ">
      <AllProduct
        v-for="(item, index) in product"
        :key="index"
        @addToCart="addToCart"
        :product="item"
        :id="index"
      />
    </div>

    <!-- modal -->
    <transition name="fade">
    <FinishModal
      v-show="showFinishModal"
      @toggleFinishModal="toggleFinishModal"
    ></FinishModal>
    </transition>
    <!-- <LandingInterestModal
      v-show="showInterestModal"
      @toggleInterestModal="toggleInterestModal"
      :interestProduct="interestProduct"
    /> -->
  </main>
</template>

<script>
import FinishModal from "~/components/Landing/FinishModal";
import AllProduct from '~/components/Product/AllProduct';
import Catogory from '~/components/Catagory';

export default {
  head() {
    return {
      title: '乾拌麵｜大賞包｜人氣推薦｜名店名人網紅精選｜TOUCHNOODLE 乾拌麵購物網站',
      meta: [
        {
          hid: "description",
          name: "description",
          content: 'TOUCHNOODLE乾拌麵分類詳細，應有盡有：全台獨有乾拌麵大賞包／人氣推薦必吃／名人網紅精選／排隊名店／健康無負擔／素食拌麵。',
        },
      ],
    };
  },
  computed: {
    comingProducts() {
      return this.$store.state.comingProduct;
    },
    product() {
      return this.$store.state.product;
    },
  },
  data() {
    return {  
      showFinishModal: false,
      category: [
        {
          name:'拌麵大賞包',
          img:require('~/assets/img/noodle/乾拌麵大賞包首圖.png')
        },
      ]
    };
  },
  methods: {
    toggleFinishModal() {
      if(!this.showFinishModal){
        setTimeout(this.closeFinishModal,2000)
      }
      this.showFinishModal = !this.showFinishModal;
    },
    closeFinishModal() {
      this.showFinishModal = !this.showFinishModal;
    },
    addToCart(product) {
      this.$store.commit("addToCart", product);
      this.toggleFinishModal();
    },
  },
  components: {
    AllProduct,
    FinishModal,
    Catogory
  },
};
</script>

<style>
</style>