<template>
  <footer class="bg-warm-gray w-full h-[400px] pt-10">
    <section class="grid grid-cols-5 gap-[30px] footer-pc h-[280px] w-[830px] mx-auto">
      <div>
        <NuxtLink to="/">
          <div class="text-title font-medium md-text-18 mb-3">
            首頁
          </div></NuxtLink
        >
      </div>
      <div>
        <NuxtLink to="/products">
          <div class="text-title font-medium md-text-18 mb-3">
            商品
          </div></NuxtLink
        >
        <NuxtLink to="/products">
          <div class="">
            總覽
          </div></NuxtLink
        >
      </div>
      <div>
        <div class="text-title font-medium mb-3">乾拌麵資訊站</div>
        <NuxtLink to="/articles"> <div>最新文章</div></NuxtLink>
      </div>
      <div>
        <NuxtLink to="/about"><div class="text-title font-medium mb-3">關於我們</div></NuxtLink>
        <a href="https://www.instagram.com/touchnoodletw/"
          ><img
            src="~/assets/img/instagram.svg"
            alt="touchnoodletw"
            class="inline-block mr-[9px]"
            width="30"
            height="30"
        /></a>
        <a href="https://www.facebook.com/TOUCH-Noodle%E4%B9%BE%E6%8B%8C%E9%BA%B5%E9%9B%86%E6%95%A3%E5%9C%B0-101018092271783">
          <img
            src="~/assets/img/facebook.svg"
            alt="touchnoodletw"
            class="inline"
            width="20"
            height="37"
          />
        </a>
      </div>
      <div>
        <h4 class="mb-3 font-medium text-title">聯絡我們</h4>
        <h4 class="mb-3 font-medium ">touchnoodletw@gmail.com</h4>
        <NuxtLink to="/law"><div class="mb-3 font-medium text-title">隱私政策</div></NuxtLink>
        <NuxtLink to="/law"><div class="mb-3 font-medium text-title">網站條款</div></NuxtLink>
        <NuxtLink to="/sitemap"><div class="mb-3 font-medium text-title">網站地圖</div></NuxtLink>
      </div>
    </section>
    <h4 class="font-medium md-text-18 text-center">
      © 2021 TOUCHNOODLE All Rights Reserved.
    </h4>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
.footer-pc * {
  font-size: 18px;
}
</style>