<template>
  <div class="relative my-[15px]">
    <input
      type="text"
      class="w-full h-[63px] border border-dark rounded pl-[14px] font-medium text-[16px] pt-[25px] md-text-18"
      :class= "{'border-warn':warn, 'border-2':warn}"
      v-model="content"
      :id="label"
      @blur="addCardContent"
    />
    <label :for="label" class="label" :class="{ hasData: content }"  ref="label"> {{
      label
    }}</label>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    type: String,
    property: String,
    receiver: { type: String, default: "" },
    card:String,
    warn: Boolean
  },
  data() {
    return {
      content: "",
    };
  },
  watch:{
    receiver:{
      handler(newVal,oldVal){
        this.content = newVal
        this.addCardContent()
      },
      immediate:true
    }
  },
  methods: {
    addCardContent() {
      let payload = {
        content: this.content,
        property: this.property,
      };
      this.$store.commit(`add${this.type}Content`, payload);
    },
  },
};
</script>

<style scoped>
.label {
  position: absolute;
  top: 19px;
  left: 15px;
  font-size: 18px;
}
label {
  color: #555555;
}

input:focus + .label {
  transition: 0.5s;
  top: 8px;
  left: 15px;
  font-size: 16px;
}
.hasData.label {
  top: 8px;
  left: 15px;
  font-size: 16px;
}
</style>