<template>
  <div class="relative my-[15px]">
    <textarea
      cols="16"
      rows="6"
      class="w-full h-[195px] border border-dark rounded px-[14px] font-medium text-[16px] pt-[32px]"
      v-model="msg"
      maxlength="96"
      @blur="addCardContent"
    ></textarea>
    <label for="" class="label" :class="{ hasData: msg }">{{ label }}</label>
    <span class="countDownNumber text-black" :class="{ hasData: msg }">{{ countDownNumber }}</span>
  </div>
</template>

<script>
export default {
  props: ["label","property","receiver"],
  data() {
    return { msg: "" };
  },

  computed: {
    countDownNumber() {
      return 96 - this.msg.length;
    },
  },
   methods:{
    addCardContent(){
      let payload = {
        content:this.msg,
        property:this.property
      }
      this.$store.commit('addCardContent',payload)
    }
  },
  watch:{
    receiver:{
      handler(newVal,oldVal){
        this.msg = newVal
      },
      immediate:true
    }
  }
};
</script>

<style scoped>
.countDownNumber {
  position: absolute;
  top: 19px;
  right: 20px;
  font-size: 16px;
  color: #666666;
}
textarea:focus ~ .countDownNumber {
  transition: 0.5s;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 16px;
  color: #666666;
}
.hasData.countDownNumber{
  transition: 0.5s;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 16px;
  color: #666666;
}
label {
  color: #555555;
}
.label {
  position: absolute;
  top: 19px;
  left: 15px;
  font-size: 18px;
}
textarea:focus + .label {
  transition: 0.5s;
  top: 8px;
  left: 15px;
  font-size: 16px;
}
.hasData.label {
  top: 8px;
  left: 15px;
  font-size: 16px;
}
</style>