<template>
  <div class="h-full w-full">
    <Header />
    <Nuxt />
    <transition name="fade">
    <LoginSuccessModal v-if="successModal"/>
    </transition>
    <Footer />
  </div>
</template>

<script>
import Header from "~/components/Header/Header";
import Footer from "~/components/Footer";
import LoginSuccessModal from "~/components/Login/LoginSuccessModal";

export default {
  created() {
    //FB初始化SDK
    if (process.client) {
      let vm = this;
      window.fbAsyncInit = function () {
        FB.init({
          appId: "365852671868428",
          cookie: true,
          xfbml: true,
          version: "v11.0",
        });

        FB.AppEvents.logPageView();
        FB.getLoginStatus((response) => {
          // console.log('getLiginStatus',response)
          vm.statusChangeCallback(response);
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    }
  },
  computed:{
    successModal(){
      return this.$store.state.member.successModal
    },
  },
  methods: {
    statusChangeCallback(response) {
      let vm = this;
      if (response.status === "connected") {
        vm.setProfileToVuex();
      }
    },
    setProfileToVuex() {
      let vm = this;
      FB.api("/me?fields=name,id,email", function (response) {
        console.log("setProfileToVuex-response", response);
        vm.$store.commit("member/fbLogin", response);
      });
    },
  },
  components: {
    Header,
    Footer,
    LoginSuccessModal
  },
};
</script>
<style>
html {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  color: #555555;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
