<template>
  <div class="h-full text-center">
    <img
      src="~/assets/img/logo pic.svg"
      alt=""
      class="text-primary mx-auto mt-[90px]"
      width="260"
      height="167"
    />
    <img
      src="~/assets/img/touchbox.svg"
      alt=""
      width="176"
      height="24"
      class="mx-auto relative bottom-[30px]"
    />
    <h1 v-if="error.statusCode === 404" class="text-[18px] font-medium">抱歉，頁面發生錯誤</h1>
    <h1 v-else class="text-[18px] font-medium">抱歉，在處理您的需求時服務中斷</h1>
    <NuxtLink to="/"
      ><button
        class="border border-primary text-primary w-[163px] h-[44px] text-[18px] font-medium mt-[30px]"
      >
        回到首頁
      </button></NuxtLink
    >
  </div>
</template>

<script>
export default {
  props: ["error"],
};
</script>

<style>
* {
  letter-spacing: 1px;
}
</style>