<template>
  <section>
    <div class="min-h-[320px] bg-gra flex flex-col justify-between">
      <div>
        <img
          :src="this.product.img"
          alt=""
          class="w-full md:w-lg md:mx-auto h-auto"
        />
        <h3 class="font-medium tracking-wide mt-4 h-[30px] leading-[30px] mx-5">
          {{ this.product.productName }}
        </h3>
        <h3 class="font-medium tracking-wide mt-4 h-[30px] leading-[30px] mx-5">
          {{ this.product.productPrice }}
        </h3>
      </div>
      <button
        class="bg-white border-2 rounded border-primary font-medium w-full text-primary mt-[15px] h-[45px] pb-[2px] pl-[2px]"
        @click="toggleInterestModal"
      >
        推出時通知我
      </button>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    product: Object,
  },
  methods: {
    toggleInterestModal() {
      this.$emit("toggleInterestModal", this.product.productName);
    },
  },
};
</script>

<style scoped>
bg-f0 {
  background-color: #f0f0f0;
}
</style>