<template>
  <section>
    <div class="min-h-[260px]  flex flex-col justify-between bg-gra md:h-[453px] ">
      <div class="relative bg-gra pb-2 md:pb-4">
        <NuxtLink :to="this.path">
          <div class="w-full h-[160px] mx-auto relative md:w-[285px] md:h-[285px] md:mx-auto">
            <img
              :src="this.product.img"
              alt=""
              class="md:w-lg image"
              height="165"
            />
          </div>
        </NuxtLink>

        <img
          src="~/assets/img/加.svg"
          alt="購入"
          class="cursor-pointer mx-auto mt-[15px] absolute right-[10px] top-24 md:hidden"
          @click="addToCart"
        />
        <h3
          class="text-p font-medium tracking-wide mt-[13px] leading-[30px] mx-5 md-text-20 md:ml-[50px]"
        >
          <span class="line-through inline-block mr-[2px]" v-if="this.product.originProductPrice"
              >${{ product.originProductPrice }}
            </span>
            <span :class="{'text-primary':this.product.originProductPrice}"> ${{ product.productPrice }}</span>
        </h3>
        <h3 class="text-p tracking-wide mt-2 leading-[22px] mx-5 md-text-20 md:ml-[50px] ">
          {{ this.product.productName }}
        </h3>
        <button class="hidden md:block w-[315px] h-[55px] text-bold bg-primary text-white rounded mx-auto mt-5" @click="addToCart">
          加入購物車
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    product: Object,
    id: Number,
  },
  computed: {
    path() {
      return `products/${this.product.productName}`;
    },
  },
  methods: {
    addToCart() {
      const productQuantity = 1;
      const product = {
        productQuantity,
        ...this.product,
      };
      this.$emit("addToCart", product);
    },
  },
};
</script>

<style scoped>
.bg-f0 {
  background-color: #f0f0f0;
}
.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
</style>