<template>
  <div class="pt-5 px-5 md:mt-0 md:py-0 ">
    <h1
      class="hidden font-medium text-title text-[36px] tracking-[1.5px] mb-[15px] md:block "
    >
      {{ product.productName }}
    </h1>
    <h2 class="line-through text-[20px] mb-[15px] hidden md:block " v-if="this.product.originProductPrice">原價：${{ product.originProductPrice }}</h2>
    <h2 class="font-medium md-text-20 mb-[15px] hidden md:block" :class="{'text-primary':this.product.originProductPrice}">{{(this.product.originProductPrice) ?'特價' : '售價'}}：${{ product.productPrice }}</h2>
    <!-- <Stars class="hidden md:block"/> -->
    <!-- <h5 class="my-[22px] font-medium md:text-[20px]">選擇尺寸</h5>
    <select
      class="border border-dark rounded w-full h-[55px] pl-[15px] select mb-[30px] text-[16px] font-medium md:text-[20px]"
      v-model="selected"
    >
      <option
        v-for="(size, index) in product.productSize"
        :value="size.productName"
        :key="index"
      >
        {{ size.productName }} NT${{ size.productPrice }}
      </option>
    </select> -->
    <div class="flex flex-row justify-between md:flex-col mt-[21px] md:mt-[137px]">
      <div
        class="border border-dark rounded-md text-center w-[152px] h-[47px] flex justify-around md:w-full md:h-[57px]"
      >
        <!-- 加減 -->
        <span
          class="w-1/3 flex align-center justify-center cursor-pointer"
          @click="reduceProductQuantity"
        >
          <img
            src="~/assets/img/deduct.svg"
            alt="w-6"
            class="w-6 font-medium"
          />
        </span>
        <input
          type="number"
          v-model="productQuantity"
          class="text-center w-1/3 text-[24px]"
        />
        <span
          class="w-1/3 flex align-center justify-center cursor-pointer"
          @click="plusProductQuantity"
        >
          <img src="~/assets/img/add.svg" alt="" class="w-6" />
        </span>
      </div>
      <!-- 購物車 -->

      <button
        class="w-[165px] h-[45px] text-white bg-primary rounded-md text-[18px] font-medium md:w-full md:mt-6 md:h-[55px]"
        @click="addToCart"
      >
        加入購物車
      </button>
    </div>
    <div class="text-p mt-5 md:mt-6">
      <img src="~/assets/img/delivery.svg" alt="" width="35" height="24" class="inline-block mr-[5px] mb-[3px]">
      <span> 消費滿 $500 7-11店到店免運費 </span>
    </div>

  </div>
</template>

<script>
import Stars from "~/components/Product/Stars";

export default {
  props: {
    product: {
      type: Object,
    },
  },
  data() {
    return {
      productQuantity: "1",
      selected: this.product.productName,
    };
  },
  computed: {
    selectedProduct() {
      let result = {
        img: this.product.img,
        productName:this.product.productName,
        productPrice:this.product.productPrice,
        productQuantity: this.productQuantity,
      };
      return result;
    },
  },
  methods: {
    plusProductQuantity() {
      this.productQuantity++;
    },
    reduceProductQuantity() {
      if (this.productQuantity > 1) {
        this.productQuantity--;
      }
    },
    addToCart() {
      this.$emit("addToCart", this.selectedProduct);
    },
  },
  components:{
    Stars
  }
};
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("~/assets/img/down.svg") no-repeat white;
  background-position: right 17px top 24px;
}
</style>