<template>
  <div class="py-2 px-5 mt-6">
    <div class="flex flex-row justify-between">
      <div>
        <label class="font-medium mb-[15px] block">種類</label>
        <select
          v-model="gameType1"
          class="border border-dark rounded w-[112px] h-[63px] pl-[15px] select mb-[15px] text-[18px] font-medium"
        >
          <option value="派對">派對</option>
          <option value="陣營">陣營</option>
          <option value="策略">策略</option>
        </select>
      </div>
      <div>
        <label class="font-medium mb-[15px] block">桌遊</label>
        <select
          v-model="game1"
          class="border border-dark rounded w-[201px] h-[63px] pl-[15px] select mb-[15px] text-[18px] font-medium"
        >
          <option value="">請選擇</option>
          <option
            :value="item.name"
            v-for="(item, index) in filterTableGame1"
            :key="index"
          >
            {{ item.name }}+${{ item.price }}
          </option>
        </select>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <div>
        <label class="font-medium mb-[15px] block">種類</label>
        <select
          v-model="gameType2"
          class="border border-dark rounded w-[112px] h-[63px] pl-[15px] select mb-[15px] text-[18px] font-medium"
        >
          <option value="派對">派對</option>
          <option value="陣營">陣營</option>
          <option value="策略">策略</option>
        </select>
      </div>
      <div>
        <label class="font-medium mb-[15px] block">桌遊</label>
        <select
          v-model="game2"
          class="border border-dark rounded w-[201px] h-[63px] pl-[15px] select mb-[15px] text-[18px] font-medium"
        >
          <option value="">請選擇</option>
          <option
            :value="item.name"
            v-for="(item, index) in filterTableGame2"
            :key="index"
          >
            {{ item.name }}+${{ item.price }}
          </option>
        </select>
      </div>
    </div>

    <div class="font-medium">
      <h4 class=" ">確認起租日期-三天</h4>
      <p class="text-primary text-[14px] tracking-[0.88px] mb-[18px]">
        歸還日期會依照租期顯示，不需手動調整
      </p>
      <div>
        <client-only>
          <v-date-picker
            v-model="date"
            :min-date="minDate"
            :attributes="attr"
            color="green"
            :update-on-input="false"
            is-expanded
          >
            <template v-slot="{ inputValue, inputEvents }">
              <div class="flex justify-between items-center">
                <input
                  :value="inputValue"
                  v-on="inputEvents"
                  class="border border-dark px-2 py-1 w-[155px] h-[64px] font-medium text-[18px] rounded focus:outline-none focus:border-primary"
                />
                <svg
                  class="w-4 h-4 mx-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
                <input
                  :value="end"
                  disabled
                  class="border border-dark bg-gray-1 px-2 py-1 w-[155px] h-[64px] font-medium text-[18px] rounded focus:outline-none focus:border-primary"
                />
              </div>
            </template>
          </v-date-picker>
        </client-only>
      </div>

      <div class="my-[15px] flex">
        <input
          type="checkbox"
          id="agree"
          class="w-5 h-5 flex-shrink-0 mt-[5px]"
          v-model="agree"
        />
        <label for="agree" class="flex-grow ml-[10px]"
          >我同意將在歸還日期將桌遊完整交給貨物代收人員，如桌遊有損害或遺失，負擔損害賠償費用</label
        >
      </div>
    </div>
    <!-- 購物車 -->
    <div>
      <button
        class="text-white w-full rounded h-[45px] text-[18px] font-medium"
        :class="{ 'bg-gra': !agree, 'text-gray-500': !agree,'bg-primary':agree }"
        @click="addToCart"
        :disabled="!agree"
      >
        加入購物袋
      </button>
    </div>
    <div class="mt-[15px] py-[15px] px-3 overflow-x-scroll flex flex-row">
      <TableGameDescription
        v-for="(item, index) in tableGame"
        :key="index"
        :tableGame="item"
      />
    </div>
  </div>
</template>

<script>
import TableGameDescription from "~/components/Product/TableGameDescription";

export default {
  props: {
    product: {
      type: Object,
    },
  },
  data() {
    return {
      productQuantity: "1",
      people: "雙人",
      duration: "3 天",
      game1: "",
      game2: "",
      gameType1: "策略",
      gameType2: "策略",
      date: this.$moment(new Date()).add(2, "days").format("YYYY/MM/DD"),
      minDate: this.$moment(new Date()).add(2, "days").format("YYYY/MM/DD"),
      agree: false,
    };
  },
  computed: {
    end() {
      let days = this.duration == "3 天" ? 2 : 5;
      return this.$moment(this.date).add(days, "days").format("YYYY/MM/DD");
    },
    attr: {
      get() {
        let days = this.duration == "3 天" ? 3 : 6;
        if (this.date == null) {
          this.date = this.$moment(new Date())
            .add(2, "days")
            .format("YYYY/MM/DD");
        }
        return [
          {
            highlight: "green",
            dates: {
              start: this.date,
              span: days,
            },
          },
        ];
      },
      set(val) {},
    },
    tableGame() {
      return this.product.tableGame;
    },
    filterTableGame1() {
      return this.tableGame.filter((item) => {
        return item.type === this.gameType1;
      });
    },
    filterTableGame2() {
      return this.tableGame.filter((item) => {
        return item.type === this.gameType2;
      });
    },
    selectedProduct() {
      return {
        ...this.product,
        productName: `${this.people}${this.gameType}包`,
        people: this.people,
        duration: this.duration,
        start: this.date,
        end: this.end,
        productQuantity: this.productQuantity,
        type: this.type,
      };
    },
  },
  methods: {
    plusProductQuantity() {
      this.productQuantity++;
    },
    reduceProductQuantity() {
      if (this.productQuantity > 1) {
        this.productQuantity--;
      }
    },
    addToCart() {
      if (agree) {
        this.$emit("addToCart", this.selectedProduct);
      }
    },
  },
  components: {
    TableGameDescription,
  },
};
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("~/assets/img/down.svg") no-repeat white;
  background-position: right 17px top 27px;
}

.bg-gray-1 {
  background-color: #f2f2f2;
}
</style>