<template>
  <div class="text-[18px] text-title mb-5">
    <span class="font-medium text-title"> 4.6 </span>
    <span class="inline-block">
<img
      src="~/assets/img/star-full.svg"
      alt=""
      v-for="n in 5"
      :key="n"
      class="inline-block align-middle mx-[1px] mb-[4px] md:w-[24px]"
      width="16"
      height="15"
    />
    </span>
    
    <span class="md:text-[24px]"> (10) </span>
  </div>
</template>

<script>
export default {};
</script>

<style >
</style>