<template>
  <div class="example md:w-[413px] md:ml-[50px]">
    <client-only>
      <swiper class="swiper" :options="swiperOption" >
        <swiper-slide v-for="(item,index) in imgs" :key="index"
          ><img
            :src="item"
            :alt="item.productName"
            class="w-full overflow-hidden my-auto"
            width="375"
            height="375"
        /></swiper-slide>
        <div class="swiper-pagination bottom-important" slot="pagination"></div>
      </swiper>
    </client-only>
  </div>
</template>

<script>
// import "swiper/css/swiper.css";

export default {
  name: "swiper-nuxt",
  props:{
    imgs:{
      type:Array,
      required:true,
    }
  },
  data() {
    return {
      swiperOption: {
        loop: false,
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 30,
        navigation: {
          disabledClass:'hideArrow'
        },
        pagination: {
          el: ".swiper-pagination",
        },
      },
    };
  },
};
</script>

 <style lang="scss" scoped>
.example {
  height: auto;
  .swiper {
    height: 100%;
    width: 100%;
    .swiper-slide {
      height: 375px;
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.swiper-container {
  overflow-y: visible;
  overflow-x: hidden;
padding-bottom: 25px;
margin-bottom: -25px;
}
.swiper-pagination {
  position: absolute;
  bottom: 0px; // should be fine as is, but adjust to your liking
}
// @media(min-width:768px){
//   .swiper-pagination {
//   position: absolute;
//  bottom: -70px;
// }
  
// }
</style>