<template>
<div class="flex">
<div class="w-[280px] flex-shrink-0 bg-gra">
    
    <ul class="mt-[15px]">
      <li>．麻辣乾拌麵 X3包</li>
      <li>．卡拉姆啾分享包</li>
      <li>．小新超愛果凍條大包裝</li>
      <li>．驚喜小物</li>
    </ul>
  </div>
  <div class="w-[15px] bg-white h-full"></div>
</div>
  
</template>

<script>
export default {
  props:{
    tableGame:{
      type:Object,
      required:true
    }
  }
};
</script>

<style>
</style>