<template>
  <main class="text-center">
    <!-- section2 -->
    <section class="bg1 md:pt-[50px] white pb-5 pt-[66px]">
      <div class="flex flex-center">
        <div
          class="hidden md:flex md:justify-around md:w-[750px] md:mx-auto md:mb-[25px] flex-row space-x-2 flex-wrap mb-5 mx-3"
        >
          <h3
            class="font-medium text-white cursor-pointer"
            v-scroll-to="'#about-us'"
          >
            關於我們
          </h3>
          <h3
            class="font-medium text-white cursor-pointer"
            v-scroll-to="'#brand-corporation'"
          >
            品牌廠商合作
          </h3>
          <h3
            class="font-medium text-white cursor-pointer"
            v-scroll-to="'#team'"
          >
            團隊介紹
          </h3>
          <h3
            class="font-medium text-white cursor-pointer"
            v-scroll-to="'#time-line'"
          >
            發展時間軸
          </h3>
        </div>
      </div>

      <h1
        class="text-center font-medium md-text-180 text-white futura text-[60px]"
      >
        TOUCH
      </h1>
      <h1
        class="text-center font-medium md-text-180 text-white futura md:mb-[150px] text-[60px] mb-[66px]"
      >
        NOODLE
      </h1>
      <h2
        class="text-center text-white md-text-36 font-medium md:mb-4 mb-[5px] md:mt-0 text-[20px]"
        id="about-us"
      >
        關於我們
      </h2>
      <div>
        <img
          src="~/assets/img/about/黃色Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <h2
        class="md:mt-[40px] mt-4 font-medium md-text-36-about text-center text-[20px] mx-[45px]"
      >
        讓台灣及世界各地的饕客
      </h2>
      <h2
        class="md:mb-[40px] mb-4 font-medium md-text-36 text-center text-[20px] mx-[45px]"
      >
        能輕鬆品嚐到台灣乾拌麵的好滋味
      </h2>
      <p
        class="md:w-[785px] md:mx-auto text-center light mb-light md:tracking-[2px] mx-[45px] leading-[30px] md-text-28 text-[18px]"
      >
        TOUCH NOODLE
        是販售多樣乾拌麵的購物網站，想給拌麵愛好者一個查看真實評價、食譜分享、最新資訊的基地。也想把台灣乾拌麵的好滋味推廣到世界各角落。
      </p>
    </section>
    <div>
      <img
        src="~/assets/img/about/橘底轉場.svg"
        alt=""
        class="w-full border-0 block align-bottom"
      />
    </div>
    <!-- section2 -->
    <section
      class="white bg2 border-0 relative bottom-[1px] md:pt-[180px] md:pb-[100px] py-[30px]"
    >
      <h2
        class="text-center text-white font-medium md:mb-6 text-[20px] mb-[5px] md-text-36"
      >
        TOUCH NOODLE 提供
      </h2>
      <div>
        <img
          src="~/assets/img/about/黃色Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <div
        class="grid grid-cols md:grid-cols-2 md:gap-[74px] md:mt-[57px] mt-4 md:w-[785px] md:mx-auto"
      >
        <div class="w-[332px] mx-auto ">
          <img
            src="~/assets/img/about/種類齊全.svg"
            alt=""
            class="mx-auto mt-[30px]"
            width="60"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-[15px] text-[18px]"
          >
            種類齊全 少量多樣
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] mt-[15px] mb-[30px]"
          >
            乾拌麵種類齊全，一站完成你的囤貨清單。
          </p>
        </div>
        <div class="w-[332px] mx-auto mt-[5px]">
          <img
            src="~/assets/img/about/選文分析.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-[15px] text-[18px]"
          >
            選文分析
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] mt-[15px] mb-[30px]"
          >
            精選乾拌麵資訊、試吃評比，一同分享美食的感動。
          </p>
        </div>
        <div class="w-[332px] mx-auto mt-[5px]">
          <img
            src="~/assets/img/about/吃麵.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-[15px] text-[18px]"
          >
            乾拌麵大賞包
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] mt-[15px] mb-[30px]"
          >
            全台獨有乾拌麵大賞包，少量試到多種品牌乾拌麵。
          </p>
        </div>
        <div class="w-[332px] mx-auto mt-[5px]">
          <img
            src="~/assets/img/about/食譜.svg"
            alt=""
            class="mx-auto"
            width="55"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-[15px] text-[18px]"
          >
            食譜分享
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-[15px]"
          >
            分享麵條煮法、適合的配料，輕鬆成為小當家。
          </p>
        </div>
      </div>
    </section>
    <!-- section3 -->
    <section
      class="bg3 border-0 md:py-[100px] relative bottom-[1px] pb-[50px] pt-[50px]"
    >
      <h2
        class="text-center text-white font-medium md:mb-6 text-[20px] mb-[5px] md-text-36-about"
        id="brand-corporation"
      >
        你是乾拌麵品牌廠商嗎
      </h2>
      <div>
        <img
          src="~/assets/img/about/藍色Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <h2
        class="md:mt-[40px] mt-[30px] mb-5 font-medium md-text-36-about text-center text-white text-[20px]"
      >
        品牌合作共創雙贏
      </h2>
      <p
        class="md:w-[785px] md:mx-auto text-center md:tracking-[2px] md:leading-[60px] text-white leading-[30px] mx-5 md-text-28 text-[18px] mx-[45px]"
      >
        透過TOUCH NOODLE
        用最少的力氣接觸到最多乾拌麵愛好者。多種合作模式可選擇，不僅提升消費者體驗，也讓我們共創雙贏。
      </p>
      <a href="https://forms.gle/1FmTcLReyMadpqHq8" target="blank">
        <button
          class="md:w-[785px] md:mx-auto rounded font-medium text-title md:h-[85px] md:leading-[20px] md:tracking-[2px] md-text-28 md:pb-[8px] bg-white md:mt-[60px] mt-[30px] py-2 px-5"
        >
          我是廠商，有興趣瞭解合作方案
        </button>
      </a>
    </section>

    <img
      src="~/assets/img/about/藍色轉場.svg"
      alt=""
      class="w-full relative bottom-[2px]"
    />

    <!-- section4 -->
    <section
      class="white bg4 border-0 md:pt-[180px] md:pb-[100px] relative bottom-[4px] pb-[50px] pt-[30px]"
    >
      <h2
        class="text-center text-white font-medium md:mb-6 text-[20px] mb-[5px] md-text-36"
      >
        與 TOUCH NOODLE 合作
      </h2>
      <div>
        <img
          src="~/assets/img/about/藍色Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <div
        class="grid grid-cols md:grid-cols-2 md:gap-[74px] md:mt-[56px] mt-[30px] md:w-[785px] md:mx-auto"
      >
        <div class="w-[332px] mx-auto">
          <img
            src="~/assets/img/about/合作.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-center md:my-[15px] my-4 text-[18px]">
            多種合作模式
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4"
          >
            多種模式供選擇，提升消費體驗、共創雙贏。
          </p>
        </div>
        <div class="w-[332px] mx-auto mt-4">
          <img
            src="~/assets/img/about/行銷.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-center md:my-[15px] my-4 text-[18px]">
            內容行銷
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4"
          >
            提供圖文報導、專題規劃、食譜撰寫等企劃。
          </p>
        </div>
        <div class="w-[332px] mx-auto mt-4">
          <img
            src="~/assets/img/about/全球.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-center md:my-[15px] my-4 text-[18px]">
            全球銷售
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4"
          >
            跟著 TOUCH NOODLE 把台灣好滋味行銷到全世界。
          </p>
        </div>
        <div class="w-[332px] mx-auto mt-4">
          <img
            src="~/assets/img/about/聯絡我們.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-center md:my-[15px] my-4 text-[18px]">
            聯絡我們
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4"
          >
            請來信至 touchnoodletw@gmail.com
          </p>
        </div>
      </div>
    </section>
    <!-- section5 -->
    <section
      class="bg5 border-0 md:py-[100px] relative bottom-[4px] pb-6 pt-[50px]"
    >
      <h2
        class="text-center text-title font-medium md:mb-6 text-[20px] mb-[5px] md-text-36-about"
        id="team"
      >
        創辦人介紹
      </h2>
      <div>
        <img
          src="~/assets/img/about/淡黃Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <h2
        class="md:mt-[40px] mt-[30px] mb-5 font-medium md-text-36-about text-center text-title text-[20px]"
      >
        嗨，我們是 Jerry & Ruby
      </h2>
      <p
        class="md:w-[785px] md:mx-auto text-center md:tracking-[2px] md:leading-[60px] text-title leading-[30px] mx-5 md-text-28 text-[18px] mx-[45px]"
      >
        我們從管理學院畢業後，先後進了軟體新創工作，也有著多次跨領域合作。成立TOUCH
        NOODLE一部分來自對麵的喜愛，記得在國外想家時，會去亞洲超市買醬包、麵條和貢丸煮來解饞。麵食在台灣美食文化佔了很重要的地位，我們想把乾拌麵這麼方便好吃又承載台灣好滋味的美食推廣到世界各地。
      </p>
    </section>

    <img
      src="~/assets/img/about/黃色轉場.svg"
      alt=""
      class="w-full relative bottom-[4px]"
    />

    <!-- section6 -->
    <section
      class="bg6 border-0 md:pt-[180px] md:pb-[100px] relative bottom-[5px] pb-[50px] pt-[30px]"
    >
      <h2
        class="text-center text-title font-medium md:mb-6 text-[20px] mb-[5px] md-text-36"
      >
        TOUCH NOODLE 團隊文化
      </h2>
      <div>
        <img
          src="~/assets/img/about/淡黃Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <div
        class="grid grid-cols md:grid-cols-3 md:gap-[74px] md:mt-[56px] mt-[30px] md:mx-[100px] mb-4"
      >
        <div class="w-[350px] mx-auto">
          <img
            src="~/assets/img/about/創新.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-4 text-[18px] text-title"
          >
            自我激勵，積極創新
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4 text-title"
          >
            針對每個成員，我們期許大家有自我激勵(self-driven)的性格，追求成長，盡可能發揮自己最大的潛能。
            我們也期許成員積極創新、接受挑戰。此外，也能勇於承認錯誤、不怕失敗，清楚每一次的嘗試都有寶貴的經驗，讓我們更靠近設下的目標。
          </p>
        </div>
        <div class="w-[350px] mx-auto ">
          <img
            src="~/assets/img/about/團隊合作.svg"
            alt=""
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-4 text-[18px] text-title"
          >
            團隊合作，真誠溝通
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4 text-title"
          >
            我們重視團隊的力量，在乎整體的成長性。成員間會分享最好的工作方法、技術及知識，一同成長。
            在溝通上我們採用直接且清楚的方式真誠溝通，不拐彎抹角，快速解決問題，促進事業成長。
          </p>
        </div>
        <div class="w-[332px] mx-auto ">
          <img
            src="~/assets/img/about/包容.svg"
            alt=""
            class="mx-auto"
            width="63"
            height="60"
          />
          <h3
            class="font-medium text-center md:my-[15px] my-4 text-[18px] text-title"
          >
            包容廣含的
          </h3>
          <p
            class="md-text-20 md:tracking-[2px] md:leading-[40px] mx-[45px] my-4 text-title"
          >
            我們期許團隊和成員都是有包容性的。在追求事業成長的同時，也廣涵各種價值文化，包容所有樣貌的自己與他人，建立一個可以促進個人成長且舒適的環境。
          </p>
        </div>
      </div>
      <a href="https://forms.gle/JT7abHjwdqHA6QPc8" target="blank">
        <button
          class="md:w-[785px] md:mx-auto rounded font-medium text-title md:h-[85px] md:leading-[20px] md:tracking-[2px] md-text-28 md:pb-[8px] bg-white md:mt-[60px] mt-5 py-2 px-5"
        >
          我有興趣加入團隊
        </button>
      </a>
    </section>
    <section
      class="bg7 border-0 md:pt-[100px] relative bottom-[5px] pt-[50px] white m-0"
    >
      <h2
        class="text-center font-medium md:mb-6 text-[20px] mb-[5px] md-text-36"
        id="time-line"
      >
        TOUCH NOODLE 發展時間軸
      </h2>
      <div>
        <img
          src="~/assets/img/about/淡黃Rectangle.svg"
          alt=""
          class="mx-auto md:w-[61px] md:h-[24px] w-[45px] h-[18px]"
          width="61"
          height="24"
        />
      </div>
      <div class="md:w-[800px] md:mx-auto">
        <picture>
          <source
            srcset="~/assets/img/about/時間軸上半-mobile版.svg"
            media="(max-width: 640px)"
            class=""
          />
          <source
            srcset="~/assets/img/about/時間軸上半.svg"
            media="(min-width: 640px)"
          />
          <img
            src="~/assets/img/about/時間軸上半.svg"
            srcset=""
            alt=""
            width="600"
            class="md:ml-[170px] mt-[30px] md:mt-[56px] align-bottom block md:w-[600px] w-[300px] ml-[27px]"
          />
        </picture>
      </div>
    </section>
    <section
      class="bg8 border-0 md:pb-[100px] relative bottom-[5px] pb-[50px] m-0"
    >
      <div class="md:w-[800px] md:mx-auto">
        <picture>
          <source
            srcset="~/assets/img/about/時間軸下半-mobile版.svg"
            media="(max-width: 640px)"
          />
          <source
            srcset="~/assets/img/about/時間軸下半.svg"
            media="(min-width: 640px)"
          />
          <img
            src="~/assets/img/about/時間軸下半.svg"
            alt=""
            width="600"
            class="md:ml-[170px] align-bottom block md:w-[600px] w-[300px] ml-[25px]"
          />
        </picture>
      </div>
    </section>
  </main>
</template>

<script>
export default {};
</script>

<style scoped>
.bg1 {
  background-color: #d06c4c;
}

.bg2 {
  background-color: #d95a3f;
}
.bg3 {
  background-color: #0b346e;
}
.bg4 {
  background-color: #005caf;
}
.bg5 {
  background-color: #ffbb05;
}
.bg6 {
  background-color: #ffd42d;
}
.bg7 {
  background-color: #333333;
}
.bg8 {
  background-color: #666666;
}
.futura {
  font-family: "Futura";
}
.white * {
  color: white;
}
.mb-light {
  font-weight: 300;
}
.title {
  color: #333333 !important;
}
</style>