<template>
  <main class="md:w-[442px] md:mx-auto">
    <ProductInfo />
    <BuyerInfoLogin />
    <SendInfo @openReceive="openReceive" :seven="seven"/>
    <ReceiveInfo
      :showReceive.sync="showReceive"
      @openPayment="openPayment"
      :seven="seven"
    />

    <Payment :showPayment="showPayment" :seven="seven" />
    <div class="mx-5">
      <p class="mt-[15px] md-text-18 font-medium">
        當您提交訂單，即表示您同意
        <NuxtLink to="/law">
          <span class="text-primary font-bold md-text-18"> 網站服務條款及隱私政策</span>
        </NuxtLink>
      </p>
    </div>
  </main>
</template>

<script>
import SendInfo from "~/components/BuyerInfo/SendInfo";
import ReceiveInfo from "~/components/BuyerInfo/ReceiveInfo";
import ProductInfo from "~/components/ProductInfo";
import Payment from "~/components/BuyerInfo/Payment";
import BuyerInfoLogin from "~/components/BuyerInfo/BuyerInfoLogin";

export default {
  mounted() {
    // if (process.browser) {
    //   this.$gtag("config", "G-W415Z8WR6W", {
    //     page_title: "填寫資料頁面",
    //     page_path: this.$route.fullPath,
    //   });
    // }
    this.$store.dispatch("OrderLengthFromDB");
  },
  computed: {
    seven() {
      if (this.$route.query.seven == undefined) return "";
      else {
        return this.$route.query.seven;
      }
    },
  },
  watch: {
    seven: {
      handler(newVal, oldVal) {
        if (newVal != "") {
          this.showReceive = 1;
        }
      },
      immediate:true
    },
  },
  data() {
    return {
      showReceive: 0,
      showPayment: false,
    };
  },
  methods: {
    openReceive() {
      this.showReceive = 1;
    },
    openPayment() {
      this.showPayment = true;
    },
  },
  components: {
    SendInfo,
    ReceiveInfo,
    ProductInfo,
    Payment,
    BuyerInfoLogin
  },
};
</script>

<style>
</style>