<template>
  <main class="min-h-screen text-center md:mx-auto w-100%">
    <div>
      <div class="md:flex">
        <Banner1 />
        <Banner2 />
      </div>
      <About />
      <h3
        class="text-[24px] font-medium text-title my-[30px] md:mt-[50px] md:mb-[40px] md-text-36"
        id="productList"
      >
        熱門商品
      </h3>
      <div class="bg-gra md:bg-white">
        <div class="md:grid md:grid-cols-2 md:gap-[62px] md:w-[962px] md:mx-auto">
          <HotProduct
            v-for="(item, index) in hotProduct"
            :key="index"
            @addToCart="addToCart"
            :product="item"
            :id="index"
            :productLength="productLength"
          ></HotProduct>
        </div>

        <NuxtLink to="/products">
          <button
            class="my-[15px] border-primary text-primary border-2 rounded w-[165px] h-[45px] mx-auto text-[18px] font-medium md:w-[200px] md:h-[55px] md:my-[50px]"
          >
            更多商品
          </button>
        </NuxtLink>
      </div>

      <!-- <LandingComingProduct
        v-for="(comingProduct,index) in comingProducts"
        :key="index"
        :product="comingProduct"
        @toggleInterestModal="toggleInterestModal"
      /> -->
    </div>
    <!-- Modal -->
    <SizeModal
      v-show="showSizeModal"
      @offSizeModal="offSizeModal"
      @addToCart="addToCart"
      :product="productToSizeModal"
    />
    <transition name="fade">
      <FinishModal
        v-show="showFinishModal"
        @toggleFinishModal="toggleFinishModal"
      ></FinishModal>
    </transition>
    <!-- <LandingInterestModal
      v-show="showInterestModal"
      @toggleInterestModal="toggleInterestModal"
      :interestProduct="interestProduct"
    /> -->
  </main>
</template>

<script>
import Banner1 from "~/components/Landing/Banner1";
import Banner2 from "~/components/Landing/Banner2";
import HotProduct from "~/components/Landing/HotProduct";
import FinishModal from "~/components/Landing/FinishModal";
import LandingComingProduct from "~/components/Landing/LandingComingProduct";
import LandingInterestModal from "~/components/Landing/LandingInterestModal.vue";
import SizeModal from "~/components/Landing/SizeModal";
import About from "~/components/Landing/About";

export default {
  // layout: ({ isMobile }) => (isMobile ? "default" : "pc"),
  components: {
    Banner1,
    Banner2,
    HotProduct,
    FinishModal,
    LandingComingProduct,
    LandingInterestModal,
    SizeModal,
    About,
  },
  data() {
    return {
      showSizeModal: false,
      productToSizeModal: {},
      showFinishModal: false,
      // showInterestModal: false,
      // interestProduct: "",
    };
  },
  methods: {
    openSizeModal(index) {
      this.productToSizeModal = this.product[index];
      this.showSizeModal = true;
    },
    offSizeModal() {
      this.showSizeModal = false;
    },
    toggleFinishModal() {
      if (!this.showFinishModal) {
        setTimeout(this.closeFinishModal, 2000);
      }
      this.showFinishModal = !this.showFinishModal;
    },
    closeFinishModal() {
      this.showFinishModal = !this.showFinishModal;
    },
    toggleInterestModal(productName) {
      this.interestProduct = productName;
      this.showInterestModal = !this.showInterestModal;
    },
    addToCart(product) {
      this.$store.commit("addToCart", product);
      this.toggleFinishModal();
    },
  },
  computed: {
    product() {
      return this.$store.state.product;
    },
    comingProducts() {
      return this.$store.state.comingProduct;
    },
    productLength() {
      return this.product.length;
    },
    hotProduct() {
      return this.product.filter( item => {return item.hot == true})
    }
  },
};
</script>

<style scoped>
.text-dark-gray {
  color: #333333;
}
</style>
