<template>
  <main class="mx-5 mt-[13px] md:w-[442px] md:mx-auto">
    <div class="w-full bg-gra text-center p-[15px]">
      <h3 class="text-[18px] font-medium mb-[10px] text-primary">
        謝謝你的訂購!
      </h3>
      <p class="mb-[12px] md-text-18">
        如訂單有疑問請透過INSTAGRAM私訊，或寫信到touchboxtw@gmail.com，我們會儘速回覆您！
      </p>
      <button
        class="w-[163px] h-[45px] rounded bg-primary text-white text-[18px] font-medium md:w-[200px] md:h-[55px]"
        @click="toLanding"
      >
        回到首頁
      </button>
    </div>
    <!-- 1 -->
    <div class="ml-[15px] my-[14px]">
      <img
        src="~/assets/img/done successfully.svg"
        alt=""
        class="inline-block mb-[5px] mr-[10px]"
      /><span class="text-[18px] font-medium inline-block md-text-20"
        >訂單資訊</span
      >
    </div>
    <div class="w-full bg-gra p-[15px]">
      <h4 class="mb-[10px] md-text-18">訂單編號：{{ order.orderID }}</h4>
      <h4 class="mb-[10px] md-text-18">訂單日期：{{ order.orderDate }}</h4>
      <h4 class="mb-[10px] md-text-18">訂單狀態：{{ order.orderStatus }}</h4>
      <h4 class="mb-[10px] md-text-18">超商門市：{{ order.seven }}</h4>
      <h4 class="mb-[10px] md-text-18">
        付款方式：{{ order.paymentStatus == "cash" ? "超商付款" : "銀行轉帳" }}
      </h4>
      <div v-if="order.paymentStatus == 'bank'">
        <h4 class="mb-[10px] md-text-18">
          匯款帳號後五碼：{{ order.bankAcount }}
        </h4>
        <p class="my-[15px] md-text-18">
          請於三個工作天內匯款至以下帳戶，如三天內未完成匯款，我們將自動取消訂單。
        </p>
        <h5 class="mt-[15px] md-text-18">匯款資料</h5>
        <h5 class="mt-[7px] md-text-18">銀行：富邦銀行</h5>
        <h5 class="mt-[7px] md-text-18">代號：012</h5>
        <h5 class="mt-[7px] md-text-18">帳號：550168801440</h5>
      </div>
    </div>
    <!-- 2 -->
    <div class="ml-[15px] my-[14px]">
      <img
        src="~/assets/img/done successfully.svg"
        alt=""
        class="inline-block mb-[5px] mr-[10px]"
      /><span class="text-[18px] font-medium inline-block md-text-20"
        >訂購人資訊</span
      >
    </div>
    <div class="w-full bg-gra p-[15px]">
      <h4 class="mb-[10px] md-text-18">訂購人姓名：{{ sender.senderName }}</h4>
      <h4 class="mb-[10px] md-text-18">
        訂購人電子信箱：{{ sender.senderEmail }}
      </h4>

      <h4 class="md-text-18">訂購人電話：{{ sender.senderPhone }}</h4>
    </div>
    <!-- 3 -->
    <div class="ml-[15px] my-[14px]">
      <img
        src="~/assets/img/done successfully.svg"
        alt=""
        class="inline-block mb-[5px] mr-[10px]"
      /><span class="text-[18px] font-medium inline-block md-text-20"
        >收件人資訊</span
      >
    </div>
    <div class="w-full bg-gra p-[15px]">
      <h4 class="mb-[10px] md-text-18">
        收件人姓名：{{ receiver.receiverName }}
      </h4>
      <h4 class="mb-[10px] md-text-18">
        收件人電話號碼：{{ receiver.receiverPhone }}
      </h4>
      <h4 class="md-text-18" >
        取貨門市：{{ order.seven }}
      </h4>
    </div>
    <!-- 4 -->
    <div class="ml-[15px] my-[14px]">
      <img
        src="~/assets/img/done successfully.svg"
        alt=""
        class="inline-block mb-[5px] mr-[10px]"
      /><span class="text-[18px] font-medium inline-block md-text-20"
        >訂單詳情</span
      >
    </div>
    <!-- 產品 -->
    <div class="w-full bg-gra">
      <ul>
        <li
          v-for="(items, index) in selectedProduct"
          :key="index"
          class="p-[15px] border-b border-dark"
        >
          <div class="flex">
            <div class="w-25 flex-shrink-0">
              <div class="w-[100px] h-[100px] relative">
                <img :src="items.img" class="image" />
              </div>
            </div>
            <div class="mx-[15px] font-medium flex flex-col justify-between">
              <h4>{{ items.productName }}</h4>
              <!-- Rent -->
              <div
                class="bg-gra text-left w-[133px] h-[45px] text-[14px] pl-[10px] leading-[42px] z-0"
                v-if="items.rent"
              >
                {{ items.start | moment("MM-DD") }}-{{
                  items.end | moment("MM-DD")
                }}
              </div>
              <!-- 數量 -->
              <div
                class="w-[80px] h-[45px] leading-[42px] flex md:w-[150px]"
                v-else
              >
                <span class="w-1/2">數量</span>
                <span class="text-right w-1/2">{{
                  items.productQuantity
                }}</span>
              </div>
            </div>
            <div class="text-right flex-grow">
              <span class="inline-block mt-[63px] font-medium leading-[24px] md-text-20"
                >${{
                  (items.productPrice * items.productQuantity).toLocaleString()
                }}</span
              >
            </div>
          </div>
        </li>
      </ul>
      <!-- 費用 -->
      <div
        class="flex justify-between px-[15px] mt-[15px] pb-[15px] border-b border-dark"
      >
        <div class="flex flex-col space-y-4">
          <div class="md-text-20">小費</div>
          <div class="md-text-20">運費</div>
          <div class="font-medium text-title md-text-20">合計</div>
        </div>
        <div class="flex flex-col justify-around text-right">
          <div class="md-text-20">
            ${{ totalProductPrice.toLocaleString() }}
          </div>
          <div class="md-text-20">${{ shippingFee }}</div>
          <div class="font-medium text-title md-text-20">
            ${{ totalPrice.toLocaleString() }}
          </div>
        </div>
      </div>
      <!-- card -->
      <!-- <div class="p-[15px]">
        <div>
          <h4 class="my-[15px]">訂給：{{ card.to }}</h4>
          <h4 class="my-[15px]">來自：{{ card.from }}</h4>
          <p class="my-[15px]">想說的話：{{ card.msg }}</p>
        </div>
      </div> -->
    </div>
  </main>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  mounted() {
    
      console.log('client')
      
      this.$axios({
        method: "get",
        url: process.env.google_sheet_url,
      })
        .then(() => console.log("success"))
        .catch((err) => console.log(err));
    
  },
  computed: {
    ...mapState(["card", "order"]),
    ...mapGetters(["totalProductPrice", "totalPrice", "shippingFee"]),
    selectedProduct() {
      return this.$store.state.LS.selectedProduct;
    },
    sender() {
      return this.$store.state.LS.sender;
    },
    receiver() {
      return this.$store.state.LS.receiver;
    },
    member() {
      return this.$store.state.member
    }
  },
  methods: {
    toLanding() {
      this.$router.push("/");
      this.$store.commit("clearnSelectedProduct");
    },
    
  },
};
</script>

<style scoped>
.text-black {
  color: #050505;
}
.edit {
  letter-spacing: 0.88px;
  background: url("~/assets/img/edit.svg") no-repeat;
  background-position: right 7px top 13px;
}
.image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
</style>