<template>
  <div class="text-center mx-[45px] pt-5">
    <h2 class="font-bold text-[24px] text-primary">網站服務條款</h2>
    <h3 class="my-[15px] text-18px] font-medium">·購物流程</h3>
    <p class="my-[15px]">選擇商品加入購物車結帳時填寫正確資料完成購物。</p>
    <h3 class="my-[15px] text-18px] font-medium">·運費計算</h3>
    <p class="my-[15px]">
      7-11店到店運費為60元。台灣本島宅配運費為130元。出貨後1-2個工作天會到達，如遇假日及疫情期間的訂單情況，會依宅配物流時間為主。
    </p>
    <h3 class="my-[15px] text-18px] font-medium">·付款方式</h3>
    <p class="my-[15px]">
      1.
      銀行匯款：請於三個工作天內匯款至指定帳戶，三天內未完成匯款者將自動取消訂單。
    </p>
    <p class="my-[15px]">
      2.
      線上刷卡：線上完成刷卡付款。本服務透過TapPay金流串接公司經手，所有交易皆經由SSL傳輸層安全協議保護。結帳時所提供之信用卡資料，本網站亦不作任何保留，以代碼化取代敏感信用卡資料，您可以100%放心在本網站進行購物。
    </p>
    <p class="my-[15px]">3. 貨到付款：於商品到貨時付款給送貨員。</p>
    <p class="my-[15px]">4. 7-11貨到付款：於7-11取貨時付款。</p>
    <h3 class="my-[15px] text-18px] font-medium">·出貨說明</h3>
    <p class="my-[15px]">
      購買商品下單後，約1-3個工作天寄出；租賃商品下單後，將於起租日期中午十二點前送達
    </p>
    <h2 class="font-bold text-[24px] text-primary mt-[31px]">隱私權保護政策</h2>
    <p class="my-[15px] text-[18px] font-medium">
      本網站十分重視你的隱私權保護，將依個人資料保護法及本隱私權政策蒐集、處理及利用你的個人資料，並提供你對個人資料權利之行使與保護。
    </p>
    <h3 class="my-[15px] text-18px] font-medium">·個人資料利用</h3>
    <p class="my-[15px]">
      本網站所蒐集足以識別使用者身分的個人資料，均僅供本網站於其內部、依照蒐集之目的進行處理和利用，除非事先說明、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關之命令或要求，否則本網站不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作蒐集目的以外之使用。
    </p>
    <h3 class="my-[15px] text-18px] font-medium">·隱私權政策修改</h3>
    <p class="my-[15px]">
      本網站有修改本隱私政策及網站各項內容的權利，將於網站同一位置公告更改聲明外，不會再對會員進行個別通知。若你對本隱私權保護政策有任何問題或不同意該等變更，可與本網站聯繫或停止使用本網站服務。
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>