<template>
  <main class="text-center">
    <section class="mt-10 py-[2px] mb-[42px] md:mt-[105px]">
      <h1 class="mb-2 md:mb-0 text-[18px] font-medium text-title">
        TOUCH NOODLE 歡迎你！
      </h1>
      <h1 class="text-[18px] font-medium text-title">
        一起加入乾拌麵愛好者的行列
      </h1>
    </section>
    <section>
      <GoogleLogin />
      <FBlogin @toggleFBLoginFailModal="toggleFBLoginFailModal"/>
    </section>
    <transition name="fade">
      <FBLoginFailModal
        v-show="showFBLoginFailModal"
      ></FBLoginFailModal>
    </transition>
  </main>
</template>

<script>
import GoogleLogin from "~/components/Login/GoogleLogin";
import FBlogin from "~/components/Login/FBlogin";
import FBLoginFailModal from '~/components/Login/FBLoginFailModal';

export default {
  components: {
    FBlogin,
    GoogleLogin,
    FBLoginFailModal
  },
  data() {
    return {
      showFBLoginFailModal:false
    };
  },
  methods:{
    toggleFBLoginFailModal() {
      if (!this.showFBLoginFailModal) {
        setTimeout(this.closeFBLoginFailModal, 2000);
      }
      this.showFBLoginFailModal = true;
    },
    closeFBLoginFailModal() {
      this.showFBLoginFailModal = false;
      console.log("closeFBLoginFailModal");
    },
  }
};
</script>

<style>
</style>