<template>
  <main>
    <section
      class="flex flex-row justify-between w-[315px] h-[45px] mx-auto text-center mt-5 md:w-[415px]"
    >
      <button
        class="w-[95px] h-[45px] font-medium text-[14px] bg-warm-gray rounded md:w-[125px] md:h-[55px] md-text-20"
        @click="selectTab('personInfo')"
        :class="{ 'bg-primary text-white': tabToPersonInfo }"
      >
        個人資訊
      </button>
      <button
        class="w-[95px] h-[45px] font-medium text-[14px] bg-warm-gray rounded md:w-[125px] md:h-[55px] md-text-20"
        @click="selectTab('order')"
        :class="{ 'bg-primary text-white': tabToOrder }"
      >
        訂單
      </button>
      <button
        class="w-[95px] h-[45px] font-medium text-[14px] bg-warm-gray rounded md:w-[125px] md:h-[55px] md-text-20"
        @click="logout"
      >
        登出
      </button>
    </section>
    <section
      v-show="tabToPersonInfo"
      class="mt-[30px] mx-[30px] md:w-[415px] md:mt-[44px] md:mx-auto"
    >
      <div class="flex flex-row">
        <div class="text-title font-medium w-[90px] md:w-[120px]">
          <h3 class="mb-[25px] w-[90px] text-title font-medium md-text-20">
            帳戶綁定
          </h3>
          <h3 class="mb-[25px] w-[90px] text-title font-medium md-text-20">
            姓名
          </h3>
          <h3 class="mb-[25px] text-title font-medium md-text-20">電子郵件</h3>
        </div>
        <div>
          <div v-show="member.thirdParty === 'fb'" class="mb-[20px] md:mb-[25px]">
            <img
              src="~/assets/img/login/facebook small.svg"
              alt=""
              class="inline-block mr-[10px] mb-[4px] align-middle"
              width="20"
              height="20"
            />
            <span class="md-text-20">Facebook</span>
          </div>
          <div
            class="mb-[20px] md:mb-[25px]"
            v-show="member.thirdParty === 'google'"
          >
            <img
              src="~/assets/img/login/google-symbol.svg"
              alt=""
              class="inline-block mr-[10px] mb-[4px]"
            />
            <span class="md-text-20">Google</span>
          </div>
          <h3 class="mb-[25px] mt-[8px]">{{ member.userName }}</h3>
          <h3>{{ member.userEmail }}</h3>
        </div>
      </div>
    </section>
    <section
      class="mt-[30px] mx-[30px] md:w-[415px] md:mt-[44px] md:mx-auto h-[165px]"
      v-show="tabToOrder && memberOrderLength == 0"
    ></section>
    <section
      v-show="tabToOrder && memberOrderLength > 0"
      class="mt-[30px] mx-[30px] md:w-[415px] md:mt-[44px] md:mx-auto"
    >
      <MemberOrder
        v-for="(item, key, index) in memberOrder"
        :key="index"
        :order="item"
      />
    </section>
  </main>
</template>

<script>
import MemberOrder from "~/components/member/MemberOrder";

export default {
  components: {
    MemberOrder,
  },
  mounted() {
    this.$store.dispatch("OrderLengthFromDB");
  },
  data() {
    return {
      tab: "personInfo",
    };
  },
  computed: {
    member() {
      return this.$store.state.member;
    },
    tabToPersonInfo() {
      return this.tab === "personInfo";
    },
    tabToOrder() {
      return this.tab === "order";
    },
    tabToLogout() {
      return this.tab === "logout";
    },
    allOrder() {
      return this.$store.state.allOrder;
    },
    memberOrder() {
      return Object.fromEntries(
        Object.entries(this.allOrder).filter(([key, value]) => {
          return (value.member == this.member.userUid && value.member !== "");
        })
      );
    },
    memberOrderLength() {
      return Object.keys(this.memberOrder).length;
    },
  },
  methods: {
    fbLogout() {
      let vm = this;
      vm.$store.commit("member/logout");
      FB.logout(function (response) {
        console.log("FB登出");
      });
      this.toLandPage();
    },
    googleLogout() {
      this.$store.commit("member/logout");
      this.toLandPage();
    },
    toLandPage() {
      this.$router.push("/");
    },
    selectTab(selectedTab) {
      this.tab = selectedTab;
    },
    logout() {
      if (this.member.thirdParty === "fb") {
        this.fbLogout();
      } else {
        this.googleLogout();
      }
    },
  },
};
</script>

<style scoped>
.bg-fb {
  background-color: #475993;
}
</style>