<template>
  <main class="md:w-lg md:mx-auto">
    <h3 class="font-medium text-[18px] ml-5 my-[15px] text-title">購物車</h3>
    <div class="md:grid md:grid-cols-2">
      <div>
        <div
          v-show="selectedProduct.length == 0"
          class="mx-5 my-[15px] font-medium text-center h-[262px]"
        >
          <img
            src="~/assets/img/emptycart.svg"
            alt=""
            width="55"
            height="53"
            class="mx-auto mt-[32px]"
          />
          <h3 class="text-[18px] my-[30px]">你的購物車還沒有商品喔...</h3>
          <NuxtLink :to="{ path: '/', hash: '#productList' }">
            <button
              class="w-[163px] h-[45px] border border-primary bg-white text-primary rounded text-[18px] font-medium"
            >
              再逛一下
            </button>
          </NuxtLink>
        </div>
        <div v-show="selectedProduct.length !== 0">
          <ShoppingBagList
            :selectedProduct="selectedProduct"
            @reduceAmount="reduceAmount"
          ></ShoppingBagList>
          <div
            v-show="selectedProduct.length == 1"
            class="mx-[20px] w-full h-[131px]"
          ></div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="p-4 bg-gra mx-5">
          <div v-show="totalProductPrice >= 500">
            <img
              src="~/assets/img/yellow circle with check.svg"
              alt="已達7-11店到店免運費門檻"
              class="inline-block mr-4 mb-[3px]"
            />
            <span>已達7-11店到店免運費門檻</span>
          </div>
          <div v-show="totalProductPrice < 500">
            <img
              src="~/assets/img/yellow circle without check.svg"
              alt="已達7-11店到店免運費門檻"
              class="inline-block mr-4 mb-[3px]"
            />
            <span>差 NT${{ 500 - totalProductPrice }} 享7-11店到店免運費</span>
          </div>
        </div>
        <div class="flex justify-between mx-5 px-[15px] my-[15px]">
          <div class="flex flex-col space-y-4">
            <div class="md-text-20">小計</div>
            <div class="md-text-20">運費</div>
            <div class="font-bold text-title md-text-20">合計</div>
          </div>
          <div class="flex flex-col justify-around text-right">
            <div class="md-text-20">${{ totalProductPrice.toLocaleString() }}</div>
            <div class="md-text-20">${{ shippingFee }}</div>
            <div class="font-bold text-title md-text-20">
              ${{ (totalProductPrice + shippingFee).toLocaleString() }}
            </div>
          </div>
        </div>
        <div class="mx-5">
          <NuxtLink to="/buyerInfo">
            <button
              class="block bg-primary text-white w-full h-[45px] rounded text-[18px] font-medium md:h-[55px]"
            >
              前往結帳
            </button>
          </NuxtLink>
        </div>
        <button
          class="border border-primary text-primary w-[163px] h-[45px] rounded block mx-auto text-[18px] font-medium mt-[14px] md:w-[200px] md:h-[55px]"
          @click="returnPage"
        >
          再逛一下
        </button>
      </div>
    </div>

    <Recommendation></Recommendation>
    <div v-show="selectedProduct.length !== 0" class="md:hidden">
      <div class="mt-4 p-4 bg-gra mx-5">
        <div v-show="totalProductPrice >= 500">
          <img
            src="~/assets/img/yellow circle with check.svg"
            alt="已達7-11店到店免運費門檻"
            class="inline-block mr-4 mb-[3px]"
          />
          <span>已達7-11店到店免運費門檻</span>
        </div>
        <div v-show="totalProductPrice < 500">
          <img
            src="~/assets/img/yellow circle without check.svg"
            alt="已達7-11店到店免運費門檻"
            class="inline-block mr-4 mb-[3px]"
          />
          <span>差 NT${{ 500 - totalProductPrice }} 享7-11店到店免運費</span>
        </div>
      </div>
      <div class="flex justify-between mx-5 px-[15px] my-[15px]">
        <div class="flex flex-col space-y-4">
          <div>小計</div>
          <div>運費</div>
          <div class="font-bold text-title">合計</div>
        </div>
        <div class="flex flex-col justify-around text-right">
          <div>${{ totalProductPrice.toLocaleString() }}</div>
          <div>${{ shippingFee }}</div>
          <div class="font-bold text-title">
            ${{ (totalProductPrice + shippingFee).toLocaleString() }}
          </div>
        </div>
      </div>
      <div class="mx-5">
        <NuxtLink to="/buyerInfo">
          <button
            class="block bg-primary text-white w-full h-[45px] rounded text-[18px] font-medium"
          >
            前往結帳
          </button>
        </NuxtLink>
      </div>
      <button
        class="border border-primary text-primary w-[163px] h-[45px] rounded block mx-auto text-[18px] font-medium mt-[14px]"
        @click="returnPage"
      >
        再逛一下
      </button>
    </div>
  </main>
</template>

<script>
import ShoppingBagList from "~/components/ShoppingBag/ShoppingBagList";
import ShoppingBagCard from "~/components/ShoppingBag/ShoppingBagCard";
import Recommendation from "~/components/ShoppingBag/Recommendation";

export default {
  computed: {
    selectedProduct: {
      get() {
        return this.$store.state.LS.selectedProduct;
      },
      set(val) {
        return val;
      },
    },
    totalProductPrice() {
      if (this.selectedProduct.length > 0) {
        return this.selectedProduct
          .map((item) => {
            return item.productPrice * item.productQuantity;
          })
          .reduce((x, y) => {
            return x + y;
          });
      } else {
        return 0;
      }
    },
    shippingFee() {
      return this.$store.getters.shippingFee;
    },
  },
  methods: {
    reduceAmount() {
      this.selectedProduct[index].productQuantity =
        this.selectedProduct[index].productQuantity - 1;
    },
    returnPage() {
      this.$router.go(-1);
    },
    // showCard(val) {
    //   this.$store.commit("showCard", val);
    // },
  },
  components: {
    ShoppingBagList,
    ShoppingBagCard,
    Recommendation,
  },
};
</script>

<style scoped>

</style>