<template>
  <div class="w-full flex flex-col px-5 text-center">
    <h1 class="text-[24px] font-medium mt-5 text-title">網站地圖</h1>
    <h2 class="text-[18px] font-medium mt-5 text-title">首頁</h2>
    <NuxtLink to="/" class="mt-2 text-[18px]">TOUCH NOODLE 乾拌麵購物網站</NuxtLink>
    <h2 class="text-[18px] font-medium mt-5 text-title">商品</h2>
    <NuxtLink to="/products" class="mt-2 text-[18px]">所有商品</NuxtLink>
    <NuxtLink
      :to="item.route"
      class="mt-2 text-[18px]"
      v-for="(item, index) in productWithRoute"
      :key="index"
      >{{item.name}}</NuxtLink >
    <h2 class="text-[18px] font-medium mt-5 text-title">乾拌麵資訊站</h2>
    <NuxtLink to="/articles" class="mt-2 text-[18px]">所有文章</NuxtLink>
    <NuxtLink to="/articles" class="nuxtlink"
      >編輯推薦</NuxtLink
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [
        "曾乃對決包",
        "六包各一乾拌麵大賞包",
        "四包各一名店組合包",
        "四包各一椒麻組合包",
        "千拌麵-黑麻油麵線（1袋3包）",
        "大拙匠人-鵝油椒麻（1袋3包）",
        "金博家 蔥蔥回魂辣拌麵(1袋4入)",
        "泰麵綠咖哩 乾拌麵(湯麵)(4入)",
        "【曾拌麵】香蔥椒麻(一袋4包)",
        "炎選絕品-祖傳蔥油香菇4入",
      ],
    };
  },
  computed: {
    productWithRoute() {
      return this.products.map((item) => {
        return { name: item, route: `/products/${item}` };
      });
    },
  },
};
</script>

<style scoped>
.nuxtlink {
  @apply mt-2 text-[18px];
}
</style>