<template>
  <section>
    <div class="h-66">
      <h3 class="text-[24px] leading-[66px] font-medium text-title mt-[30px] md-text-36 md:mt-[45px]">
        關於TOUCH
      </h3>
    </div>
    <div class="w-full">
      <div class="flex flex-col md:flex-row md:w-lg md:mx-auto md:justify-around">
        <div class="mt-[15px] md:mt-[30px]">
          <img
            src="~/assets/img/landing/關於TOUCH圖一.svg"
            alt="種類齊全，少量多樣"
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-[18px] mt-[15px]">種類齊全，少量多樣</h3>
          <p class="w-[215px] inline-block mt-[15px]  md:w-[255px]">
            乾拌麵種類最齊全的網站，一次可以單買一包，用低成本嘗試多樣品牌。
          </p>
        </div>
        <div class="mt-[30px]">
          <img
            src="~/assets/img/landing/關於TOUCH圖二.svg"
            alt="真實評價"
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-[18px] mt-[15px]">選文分析</h3>
          <p class="w-[215px] inline-block mt-[15px]  md:w-[255px]">
            精選乾拌麵最新資訊、試吃評比、食譜推薦等，跟拌麵愛好者一同分享美食的感動。
          </p>
        </div>
        <div class="mt-[30px]">
          <img
            src="~/assets/img/landing/關於TOUCH圖三.svg"
            alt="7-11店到店貨到付款"
            class="mx-auto"
            width="60"
            height="60"
          />
          <h3 class="font-medium text-[18px] mt-[15px]">7-11店到店貨到付款</h3>
          <p class="w-[215px] inline-block mt-[15px]  md:w-[255px]">
            7-11店到店貨到付款， 輕鬆方便又安心。
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>