<template>
  <section class="text-center w-full bg-secondary pt-[70px]">
    <h1
      class="text-[24px] font-medium mx-[51px] text-p mb-[6px]"
    >
      6款不踩雷乾拌麵
    </h1>
    <h1
      class="text-[24px] font-medium mx-[51px] text-p mb-[10px]"
    >
      在家享受懶人美食
    </h1>
    <h3 class="text-[16x] mb-[26px] text-p">
      編輯推薦｜07 July, 2021
    </h3>
    <div class="w-full">
      <img
        src="~/assets/img/landing/banner2 0710 high.png"
        alt="6款不踩雷乾拌麵：在家享受懶人美食"
        width="375"
        class="mx-auto"
      />
    </div>
    <NuxtLink to="/articles">
    <button
      class="text-[18px] font-medium w-[163px] h-[45px] rounded mt-[36px] mb-[50px] bg-gray-white text-p md:w-[200px] md:h-[55px] md:tracking-[1.33px] md:mb-[4px]"
    >
      閱讀更多
    </button>
    </NuxtLink>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
.bg-eae3d9 {
  background-color: #cc543a;
}
.bg-gray-white {
  background-color: #f7f4f0;
}
</style>