<template>
  <div class="banner w-full text-center relative pt-[70px]">
    <h1 class="text-[24px] font-medium mx-[51px] text-warm-gray mb-[6px]">
      全台獨有乾拌麵大賞包
    </h1>
    <h1 class="text-[24px] font-medium mx-[51px] text-warm-gray mb-[6px]">
      一次少量吃到多種品牌
    </h1>
    <h1 class="text-[24px] font-medium mx-[51px] text-warm-gray mb-[75px]">
      全站滿$500免運!
    </h1>

    <!-- <h3 class=" text-warm-gray mb-[81px]">即日期至7月12日</h3> -->
    <NuxtLink to="/products/六包各一乾拌麵大賞包">
      <div class="w-[375px] h-[124px] relative mx-auto">
        <img src="~/assets/img/landing/banner1 0710.png" alt="" class="image" />
      </div>
    </NuxtLink>
    <NuxtLink to="/products/六包各一乾拌麵大賞包">
      <button
        class="w-[165px] h-[45px] rounded text-[18px] font-bold bg-primary mt-[110px] mb-[51px] text-white md:w-[200px] md:h-[55px] md:tracking-[1.33px]"
      >
        來去逛逛
      </button>
    </NuxtLink>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.banner {
  background-color: #f7f4f0;
  /* background: url(~/assets/img/banner1.svg) no-repeat ;
  background-size: cover; */
  height: 600px;
}
.text-warm-gray {
  color: #666666;
}
</style>