<template>
  <div
    class="fixed bg-yel text-white -top-2 w-full rounded-lg h-[74px] pt-[28px] z-40 md:h-[98px] md:pt-[32px]"
  >
    <div class="w-[224px] mx-auto md:w-[350px]">
      <img
        src="~/assets/img/check.svg"
        alt=""
        class="inline-block mb-[3px] mr-[10px]"
      />
      <h3 class="text-[18px] font-medium inline-block text-white">
        商品已為你加入購物袋
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    offModal() {
      this.$emit("toggleFinishModal");
    },
    toShoppingBag() {
      this.offModal();
      this.$router.push({ name: "shoppingBag" });
    },
  },
};
</script>

<style>
</style>