<template>
  <section class="md:bg-gra md:w-[450px] md:h-[609px]">
    <div>
      <NuxtLink :to="this.path">
        <div class="w-full h-[375px] relative md:w-full md:h-[450px]">
          <img
            v-lazy="this.product.img"
            :alt="this.product.productName"
            class="md:w-lg md:mx-auto image"
            width="375"
          />
        </div>
      </NuxtLink>
      <div class="h-[130px] px-5">
        <h3 class="font-medium text-[18px] mt-[15px] leading-[26px] text-p">
          {{ this.product.productName }} |
            <span class="line-through inline-block mr-[2px]" v-if="this.product.originProductPrice"
              >${{ this.product.originProductPrice }}</span
            ><span :class="{'text-primary':this.product.originProductPrice}"> ${{ this.product.productPrice }}</span>
        </h3>

        <button
          class="w-full h-[45px] bg-primary rounded text-white mt-[15px] text-[18px] font-medium cursor-pointer md:mt-[30px] md:w-[300px] md:h-[55px]"
          @click="addToCart"
        >
          加入購物車
        </button>
      </div>
    </div>
    <!-- <div class="h-[15px] bg-gra" v-if="!last"></div> -->
  </section>
</template>

<script>
export default {
  props: {
    product: Object,
    id: Number,
    productLength: Number,
  },
  methods: {
    addToCart() {
      let selectedProduct = {
        productQuantity: 1,
        productName: this.product.productName,
        productPrice: this.product.productPrice,
        img: this.product.img,
      };
      this.$emit("addToCart", selectedProduct);
    },
    toProductPage() {
      this.$router.push(this.path);
    },
  },
  computed: {
    path() {
      return `products/${this.product.productName}`;
    },
    last() {
      let last = this.productLength - 1;
      return last == this.id;
    },
  },
};
</script>

<style>
</style>