<template>
  <section>
    <div class="bg-white">
      <img
        :src="this.product.img"
        alt=""
        class="w-full md:w-lg md:mx-auto h-auto"
      />
      <div class="h-[110px] mx-5">
        <h3
          class="font-medium text-[18px] tracking-wide mt-[15px] h-[30px] leading-[30px]"
        >
          {{ this.product.productName }} | Coming Soon
        </h3>
        <button
          class="bg-white border-2 rounded border-primary font-medium text-[18px] mx-auto w-full  text-primary mt-[15px] h-[45px]"
          @click="toggleInterestModal"
        >
          我有興趣，推出時通知我
        </button>
      </div>
    </div>
    <div class="h-[15px] bg-gra"></div>
  </section>
</template>

<script>
export default {
  props: {
    product: Object,
  },
  methods: {
    toggleInterestModal(){
      this.$emit('toggleInterestModal',this.product.productName)
    }
  },
};
</script>

<style>
</style>