<template>
  <div class="fixed z-20 w-full h-full top-0 left-0">
    <div
      class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
      @click.self="offModal"
    ></div>

    <!-- finish -->
    <div
      class="fixed bg-white animated fadeInUp w-full -bottom-1.5 rounded-lg h-[238px] pb-[30px] px-[25px]"
      v-if="finish"
    >
      <h3 class="mt-[20px] text-[18px] font-medium text-center">
        Hey, Let’s Keep In Touch.
      </h3>
      <div class="flex flex-row space-x-3 align-center">
        <div>
          <img src="~/assets/img/done successfully.svg" alt="OK" loading="lazy" class="mt-[25px]"/>
        </div>
        <h3 class="mt-[20px] text-[18px] font-medium text-center w-11/12">
          收到你的聯絡資訊囉，商品推出時我們會馬上通知你！
        </h3>
      </div>
      <button
        class="btn-secondary block mx-auto mt-[30px] text-[18px] font-medium"
        @click="offModal"
      >
        再逛一下
      </button>
    </div>
    <div
      class="fixed bg-white animated fadeInUp w-full -bottom-1.5 rounded-lg h-[320px] pb-[30px] px-[35px]"
      v-else
    >
      <h3 class="mt-[20px] text-[18px] font-medium text-center">
        請留下你的email，{{interestProduct}}推出時我們會寄信給你，謝謝！
      </h3>
      <div class="relative my-[15px]">
        <input
          type="text"
          class="w-full h-[63px] border border-dark rounded pl-[14px] font-medium text-[16px] pt-[25px]"
          v-model="email"
          id="interestedEmail"
        />
        <label for="interestedEmail" class="label" :class="{ hasData: email }">
          電子信箱
        </label>
      </div>
      <button
        class="btn text-[18px] font-medium mt-5 block mx-auto"
        @click="submitEmail"
      >
        送出
      </button>
      <button
        class="btn-secondary block mx-auto mt-[15px] text-[18px] font-bold"
        @click="offModal"
      >
        先不好了
      </button>
    </div>
  </div>
</template>

<script>
import Input from "~/components/utils/Input";

export default {
  props: {
    interestProduct: {
      required: true,
    },
  },
  data() {
    return {
      email: "",
      finish: false,
    };
  },
  methods: {
    offModal() {
      this.finish=false
      this.$emit("toggleInterestModal");
    },
    submitEmail() {
      this.$axios({
        method: "post",
        url: `${process.env.firebase_url}/interested/${this.interestProduct}.json?key=${process.env.firebase_key}`,
        data:{
          email:this.email
        }
      });
      this.finish = true;
    },
  },
  components: {
    Input,
  },
};
</script>

<style scoped>
.label {
  position: absolute;
  top: 19px;
  left: 15px;
  font-size: 18px;
}
label {
  color: #555555;
}

input:focus + .label {
  transition: 0.5s;
  top: 8px;
  left: 15px;
  font-size: 16px;
}
.hasData.label {
  top: 8px;
  left: 15px;
  font-size: 16px;
}
</style>