<template>
  <div class="fixed z-20 w-full h-full top-0 left-0">
    <div
      class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
      @click.self="offModal"
    ></div>
    <div
      class="fixed bg-white w-full -bottom-1.5 rounded-lg h-[223px] pb-[30px] text-left"
    >
      <div class="mx-[23px]">
        <h5 class="mt-[30px] mb-[11px] font-medium">選擇尺寸</h5>
        <select
          class="border border-dark rounded w-full h-[55px] pl-[15px] select mb-[17px] text-[18px] font-medium"
          v-model="selected"
        >
          <option
            v-for="(size, index) in product.productSize"
            :value="index"
            :key="index"
          >
            {{ size.productName }} NT${{ size.productPrice.toLocaleString() }}
          </option>
        </select>
        <button
          class="btn text-[18px] font-medium block mx-auto"
          @click="addToCart"
        >
          加入購物袋
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: ()=>{return {}},
      required:true
    },
  },
  data() {
    return {
      selected: 0,
    }
  },
   computed:{
     result(){
       let product = this.product
       return {
         ...product.productSize[this.selected],
         img:product.img,
         productQuantity:1,
       }
     }
   },
  methods: {
    offModal() {
      this.$emit("offSizeModal");
    },
    addToCart() {
      this.$emit("addToCart", this.result);
      this.offModal();
    },
  },
};
</script>

<style scoped>
.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("~/assets/img/down.svg") no-repeat white;
  background-position: right 17px top 24px;
}
</style>